<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">
    Глава 9. Конституционные поправки и пересмотр конституции
  </h2>

  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 135</h3>
      <p>
        Предложения о поправках и пересмотре положений Конституции могут вносить
        Государственный Совет, Государственная Дума, Правительство,
        законодательные (представительные) органы губерний, а также группа
        численностью не менее одной пятой членов Государственного Совета или
        депутатов Государственной Думы.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 136</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Положения глав 1, 2 и 9 Конституции не могут быть пересмотрены
          Федеральным Собранием.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Если предложение о пересмотре положений глав 1, 2 и 9 Конституции
          <b>будет поддержано двумя третями голосов</b> от общего числа членов
          Государственного Совета и депутатов Государственной Думы, то в
          соответствии с федеральным конституционным законом созывается
          Конституционное Собрание.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Члены Конституционного Собрания избираются на всеобщих, равных и
            прямых выборах при тайном голосовании в одномандатных округах.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Конституционное Собрание либо подтверждает неизменность Конституции,
          либо разрабатывает проект новой Конституции, который принимается
          Конституционным Собранием двумя третями голосов от общего числа его
          членов или выносится на <b>референдум</b>. При проведении референдума
          Конституция считается принятой, если за неё проголосовало более
          половины избирателей, принявших участие в голосовании, при условии,
          что в нём приняло участие более половины избирателей.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Конституционное Собрание не вправе принимать решения,
            непосредственно не относящиеся к деятельности по разработке проекта
            новой Конституции или подтверждению неизменности действующей
            Конституции.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 137</h3>
      <p>
        Поправки к главам 3-8 Конституции принимаются в порядке, предусмотренном
        для принятия федерального конституционного закона.
      </p>
    </li>
  </ul>
</div>
