<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">Глава 5. Федеральное собрание</h2>

  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 95</h3>
      <p>
        Федеральное Собрание — парламент России — является представительным и
        законодательным органом России.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 96</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Федеральное Собрание состоит из двух палат —
          <b>Государственного Совета</b> и Государственной Думы.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            В Государственный Совет входят по два представителя от каждой
            губернии. Члены Государственного Совета избираются сроком на 4 года
            на всеобщих, равных и прямых выборах при тайном голосовании.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государственная Дума состоит из 600 депутатов. Государственная Дума
            избирается сроком на 4 года на всеобщих, равных и прямых выборах при
            тайном голосовании.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Состав Государственной Думы многопартийный. Число представителеей
            одной партии в составе депутатов Государственной Думы не может
            составлять более 51% от общего числа депутатов.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Порядок выборов депутатов Государственной Думы и членов
          Государственного Совета устанавливается федеральными конституционными
          законами. Основные выборы депутатов Государственной Думы и членов
          Государственного Совета не могут проходить в один год.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 97</h3>
      <p>
        Одно и то же лицо не может одновременно являться членом Государственного
        Совета и депутатом Государственной Думы. Депутат Государственной Думы,
        член Государственного Совета не может быть депутатом иных
        представительных органов государственной власти и органов местного
        самоуправления.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 98</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Члены Государственного Совета и депутаты Государственной Думы обладают
          неприкосновенностью в течение всего срока их полномочий. Они не могут
          быть задержаны, арестованы, подвергнуты обыску, кроме случаев
          задержания на месте преступления, а также подвергнуты личному
          досмотру, за исключением случаев, когда это предусмотрено федеральным
          законом для обеспечения безопасности других людей.
        </li>
        <li class="reforms__constitution-numeric-item">
          Вопрос о лишении неприкосновенности решается по представлению
          Генерального прокурора соответствующей палатой Федерального Собрания.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 99</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Федеральное Собрание является постоянно действующим органом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Государственная Дума собирается на первое заседание на тридцатый день
          после избрания. Президент может созвать заседание Государственной Думы
          ранее этого срока.
        </li>
        <li class="reforms__constitution-numeric-item">
          Первое заседание Государственной Думы открывает старейший по возрасту
          депутат.
        </li>
        <li class="reforms__constitution-numeric-item">
          С момента начала работы Государственной Думы нового созыва полномочия
          Государственной Думы прежнего созыва прекращаются.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 100</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственный Совет и Государственная Дума заседают раздельно.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Заседания Государственного Совета и Государственной Думы являются
          открытыми. <b>В случаях, предусмотренных федеральным законом</b>, они
          вправе проводить закрытые заседания.
        </li>
        <li class="reforms__constitution-numeric-item">
          Палаты могут собираться совместно для заслушивания посланий
          Президента, посланий Конституционного Суда, выступлений руководителей
          иностранных государств.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 101</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственный Совет избирает из своего состава Председателя
          Государственного Совета и его заместителей. Государственная Дума
          избирает из своего состава Председателя Государственной Думы и его
          заместителей.
        </li>
        <li class="reforms__constitution-numeric-item">
          Председатель Государственного Совета и его заместители, Председатель
          Государственной Думы и его заместители ведут заседания и ведают
          внутренним распорядком палаты.
        </li>
        <li class="reforms__constitution-numeric-item">
          Государственный Совет и Государственная Дума образуют комитеты и
          комиссии, проводят по вопросам своего ведения парламентские слушания.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Порядок работы Государственного Совета и Государственной Думы
            устанавливаются настоящей Конституцией и федеральным законом о
            регламенте каждой из палат.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государственный Совет и Государственная Дума осуществляют
            парламентский контроль и мониторинг эффективности реализации
            федеральных законов и государственных программ </b
          >. Для осуществления контроля за исполнением федерального бюджета
          Государственный Совет и Государственная Дума образуют Счётную палату,
          состав и порядок деятельности которой определяются федеральным
          законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 102</h3>
      <ul class="reforms__constitution-abc-list">
        <li>1. К ведению Государственного Совета относятся:</li>
        <li class="reforms__constitution-numeric-item">
          а) утверждение изменения границ между губерниями;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>б) утверждение указов Президента;</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          в) решение вопроса о возможности использования Вооружённых Сил за
          пределами территории страны;
        </li>
        <li class="reforms__constitution-numeric-item">
          г) назначение выборов Президента;
        </li>
        <li class="reforms__constitution-numeric-item">
          д) отрешение Президента от должности;
        </li>
        <li class="reforms__constitution-numeric-item">
          е) назначение судей Верховного Суда, одной трети судей
          Конституционного суда;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          ж) назначение на должность и освобождение от должности Генерального
          прокурора и <b>заместителей Генерального прокурора;</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          з) назначение на должность и освобождение от должности заместителя
          Председателя Счётной палаты и половины состава её аудиторов;
        </li>
        <li class="reforms__constitution-numeric-item">
          2. Государственный Совет принимает постановления по вопросам,
          отнесённым к его ведению Конституцией.
        </li>
        <li class="reforms__constitution-numeric-item">
          3. Постановления Государственного Совета принимаются большинством
          голосов от общего числа членов Государственного Совета, если иной
          порядок принятия решений не предусмотрен Конституцией.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 103</h3>
      <ul class="reforms__constitution-abc-list">
        <li>1. К ведению Государственной Думы относятся:</li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            а) решение вопроса об отставке Председателя Правительства,
            Правительства, а также о доверии руководителям федеральных органов
            исполнительной власти;
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            б) заслушивание ежегодных отчётов глав федеральных органов
            исполнительной власти о результатах их деятельности, в том числе по
            вопросам, поставленным Государственной Думой;
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          в) назначение на должность и освобождение от должности Председателя
          Центрального банка;
        </li>
        <li class="reforms__constitution-numeric-item">
          г) назначение на должность и освобождение от должности Председателя
          Счётной палаты и половины состава её аудиторов;
        </li>
        <li class="reforms__constitution-numeric-item">
          д) назначение на должность и освобождение от должности Уполномоченного
          по правам человека, действующего в соответствии с федеральным
          конституционным законом;
        </li>
        <li class="reforms__constitution-numeric-item">
          е) объявление амнистии;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          ж) выдвижение обвинения против Президента для отрешения его от
          должности.
        </li>
        <li class="reforms__constitution-numeric-item">
          з) назначение на должность и освобождение от должности заместителя
          Председателя Счётной палаты и половины состава её аудиторов;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b> з) назначение одной трети судей Конституционного суда. </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          2. Государственная Дума принимает постановления по вопросам,
          отнесённым к её ведению Конституцией.
        </li>
        <li class="reforms__constitution-numeric-item">
          3. Постановления Государственной Думы принимаются большинством голосов
          от общего числа депутатов Государственной Думы, если иной порядок
          принятия решений не предусмотрен Конституцией.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 104</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Правительство представляет ежегодный отчёт о своей деятельности
            Государственной Думе.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государственная Дума по результатам ежегодного отчёта, а также
            рассмотрения вопроса об отставке, поставленного Президентом, может
            выразить вотум недоверия Председателю Правительства, Правительству и
            руководителю любого федерального органа исполнительной власти.
            Решение об отставке Правительства, об отстранении Председателя
            Правительства и руководителя любого федерального органа
            исполнительной власти от занимаемой должности принимается двумя
            третями голосов от общего числа депутатов Государственной Думы.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 105</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Право законодательной инициативы принадлежит Президенту,
          Государственному Совету, членам Государственного Совета, депутатам
          Государственной Думы, Правительству, законодательным
          (представительным) органам губерний, а также
          <b
            >высшему государственному органу, организующему подготовку и
            проведение выборов и референдумов в России, по вопросам его ведения.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Законопроекты вносятся в Государственную Думу.
        </li>
        <li class="reforms__constitution-numeric-item">
          Законопроекты о введении или отмене налогов, освобождении от их
          уплаты, о выпуске государственных займов, об изменении финансовых
          обязательств государства, другие законопроекты, предусматривающие
          расходы, покрываемые за счёт федерального бюджета, могут быть внесены
          только при наличии заключения Правительства.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 106</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Федеральные законы принимаются Государственной Думой.
        </li>
        <li class="reforms__constitution-numeric-item">
          Федеральные законы принимаются простым большинством голосов от общего
          числа депутатов Государственной Думы, если иное не предусмотрено
          Конституцией.
        </li>
        <li class="reforms__constitution-numeric-item">
          Принятые Государственной Думой федеральные законы в течение пяти дней
          передаются на рассмотрение Государственного Совета.
        </li>
        <li class="reforms__constitution-numeric-item">
          Федеральный закон считается одобренным Государственным Советом, если
          за него проголосовало более половины от общего числа членов этой
          палаты либо если в течение четырнадцати дней он не был рассмотрен
          Государственным Советом. В случае отклонения федерального закона
          Государственным Советом палаты могут создать согласительную комиссию
          для преодоления возникших разногласий, после чего федеральный закон
          подлежит повторному рассмотрению Государственной Думой.
        </li>
        <li class="reforms__constitution-numeric-item">
          В случае несогласия Государственной Думы с решением Государственного
          Совета федеральный закон считается принятым, если при повторном
          голосовании за него проголосовало не менее двух третей от общего числа
          депутатов Государственной Думы.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 107</h3>
      <ul class="reforms__constitution-abc-list">
        <li>
          Обязательному рассмотрению в Государственном Совете подлежат принятые
          Государственной Думой федеральные законы по вопросам:
        </li>
        <li class="reforms__constitution-numeric-item">
          а) федерального бюджета;
        </li>
        <li class="reforms__constitution-numeric-item">
          б) федеральных налогов и сборов;
        </li>
        <li class="reforms__constitution-numeric-item">
          в) финансового, валютного, кредитного, таможенного регулирования,
          денежной эмиссии;
        </li>
        <li class="reforms__constitution-numeric-item">
          г) ратификации и денонсации международных договоров;
        </li>
        <li class="reforms__constitution-numeric-item">
          д) статуса и защиты государственной границы
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 108</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Принятый федеральный закон в течение пяти дней направляется Президенту
          для подписания и обнародования.
        </li>

        <li class="reforms__constitution-numeric-item">
          Президент в течение четырнадцати дней подписывает федеральный закон и
          обнародует его.
        </li>
        <li class="reforms__constitution-numeric-item">
          Если Президент в течение четырнадцати дней с момента поступления
          федерального закона отклонит его, то Государственная Дума и
          Государственный Совет в установленном Конституцией порядке вновь
          рассматривают данный закон. Если при повторном рассмотрении
          федеральный закон будет одобрен в ранее принятой редакции большинством
          не менее двух третей голосов от общего числа членов Государственного
          Совета и депутатов Государственной Думы, он подлежит подписанию
          Президентом в течение семи дней и обнародованию.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 109</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Федеральные конституционные законы принимаются по вопросам,
          предусмотренным Конституцией.
        </li>

        <li class="reforms__constitution-numeric-item">
          Федеральный конституционный закон считается принятым, если он одобрен
          большинством не менее двух третей голосов от общего числа членов
          Государственного Совета и не менее двух третей голосов от общего числа
          депутатов Государственной Думы. Принятый федеральный конституционный
          закон в течение четырнадцати дней подлежит подписанию Президентом и
          обнародованию.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 110</h3>
      <p class="reforms__constitution-purple">
        Государственная Дума и Государственный Совет не могут быть распущены в
        течение всего срока их полномочий.
      </p>
    </li>
  </ul>
</div>
