<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">
    Глава 2. Права и свободы человека и гражданина
  </h2>
  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 23</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          В России признаются и гарантируются права и свободы человека и
          гражданина согласно общепризнанным принципам и нормам международного
          права и в соответствии с настоящей Конституцией.
        </li>
        <li class="reforms__constitution-numeric-item">
          Права и свободы человека неотчуждаемы и принадлежат каждому от
          рождения.
        </li>
        <li class="reforms__constitution-numeric-item">
          Осуществление прав и свобод человека и гражданина не должно нарушать
          права и свободы других лиц.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 24</h3>
      <p>
        Права и свободы человека и гражданина являются непосредственно
        действующими. Они определяют смысл, содержание и применение законов,
        деятельность законодательной и исполнительной власти, местного
        самоуправления и обеспечиваются правосудием.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 25</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Все равны перед законом и судом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Государство гарантирует равенство прав и свобод человека и гражданина
          независимо от пола, расы, национальности, языка, происхождения,
          имущественного и должностного положения, места жительства, отношения к
          религии, убеждений, принадлежности к общественным объединениям, а
          также других обстоятельств. Запрещаются любые формы ограничения прав
          граждан по признакам социальной, расовой, национальной, языковой или
          религиозной принадлежности.
        </li>
        <li class="reforms__constitution-numeric-item">
          Мужчина и женщина имеют равные права и свободы, а также равные
          возможности для их реализации.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 26</h3>
      <p class="reforms__constitution-purple">
        <b>
          Право каждого на жизнь охраняется законом. Никто не может быть
          умышленно лишён жизни, в том числе приговорен к смертной казни или
          казнён.
        </b>
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 27</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Достоинство личности охраняется государством. Ничто не может быть
          основанием для его умаления.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Никто не должен подвергаться пыткам, насилию, другому жестокому или
          унижающему человеческое достоинство обращению или наказанию. Никто не
          может быть без добровольного согласия подвергнут медицинским, научным
          или иным опытам.
          <b>
            Лица, содержащиеся в местах лишения свободы, имеют право на гуманное
            обращение.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 28</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на свободу и личную неприкосновенность.
        </li>
        <li class="reforms__constitution-numeric-item">
          Арест, заключение под стражу и содержание под стражей допускаются
          только по судебному решению. До судебного решения лицо не может быть
          подвергнуто задержанию на срок более 48 часов.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 29</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на неприкосновенность частной жизни, личную и
          семейную тайну, а также защиту своей чести и доброго имени.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Каждый имеет право на тайну переписки, телефонных переговоров,
          почтовых, телеграфных, <b>электронных</b> и иных сообщений.
          Ограничение этого права допускается только на основании судебного
          решения.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 30</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Сбор, хранение, использование и распространение информации о частной
          жизни лица без его согласия не допускаются.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Обработка персональных, в том числе биометрических, данных
            осуществляется в соответствии с федеральным законом.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Органы государственной власти и органы местного самоуправления, их
          должностные лица обязаны обеспечить каждому возможность ознакомления с
          документами и материалами, непосредственно затрагивающими его права и
          свободы, если иное не предусмотрено законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 31</h3>
      <p>
        Жилище неприкосновенно. Никто не вправе проникать в жилище против воли
        проживающих в нём лиц иначе как в случаях, установленных федеральным
        законом, или на основании судебного решения.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 32</h3>
      <p>
        Каждый вправе определять и указывать свою национальную принадлежность.
        Никто не может быть принуждён к определению и указанию своей
        национальной принадлежности.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 33</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый, кто законно находится на территории России, имеет право
          свободно передвигаться, выбирать место пребывания и жительства.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый может свободно выезжать за пределы России. Гражданин имеет
          право беспрепятственно возвращаться в Россию.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 34</h3>
      <p>
        Каждому гарантируется свобода совести, свобода вероисповедания, включая
        право исповедовать индивидуально или совместно с другими любую религию
        или не исповедовать никакой, свободно выбирать, иметь и распространять
        религиозные и иные убеждения и действовать в соответствии с ними.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 35</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждому гарантируется свобода мысли и слова.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никто не может быть принуждён к выражению своих мнений и убеждений или
          отказу от них.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право свободно искать, получать, передавать, производить
          и распространять информацию любым законным способом. Перечень
          сведений, составляющих государственную или иную тайну, определяется
          федеральными законами.
        </li>
        <li class="reforms__constitution-numeric-item">
          Гарантируется свобода массовой информации. Цензура запрещается.
        </li>
        <li class="reforms__constitution-numeric-item">
          <b> Каждому гарантируется свобода доступа в Интернет. </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 36</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          Каждый имеет право на объединение. Свобода деятельности общественных
          объединений, в том числе политических партий, гарантируется.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никто не может быть принуждён к вступлению в какое-либо объединение
          или пребыванию в нём.
        </li>
        <li class="reforms__constitution-numeric-item">
          Общественные объединения равны перед законом.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Запрещается создание и деятельность общественных объединений, цели
            или действия которых направлены на насильственное изменение основ
            конституционного строя и нарушение целостности России, подрыв
            безопасности государства, создание вооружённых формирований, не
            предусмотренных федеральным законом.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 37</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Граждане имеют право собираться мирно, без оружия, проводить публичные
          мероприятия (собрания, шествия, митинги и демонстрации) и
          пикетирование.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            О проведении публичного мероприятия организаторы уведомляют
            уполномоченные органы власти в порядке, установленном федеральным
            законом. Уведомление о пикетировании не требуется.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Проведение собрания, митинга и демонстрации, шествия и пикетирования
            может быть запрещено, прервано или ограничено органами власти
            исключительно на основании судебного решения.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 38</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Граждане имеют право участвовать в управлении делами государства как
          непосредственно, так и через своих представителей.
        </li>
        <li class="reforms__constitution-numeric-item">
          Граждане имеют право избирать и быть избранными в органы
          государственной власти и органы местного самоуправления, а также
          участвовать в референдуме.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Не имеют права избирать и быть избранными
          <b>исключительно</b> граждане, признанные судом недееспособными, а
          также содержащиеся в местах лишения свободы по приговору суда
          <b>в период проведения выборов или референдума.</b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Граждане имеют равный доступ к государственной службе.
          <b>
            На основании федерального закона не вправе занимать должности
            государственной службы лица, причастные к нарушению основных прав и
            свобод граждан при осуществлении государственно-властных полномочий.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Граждане имеют право участвовать в отправлении правосудия.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 39</h3>
      <p>
        Граждане имеют право обращаться лично, а также направлять индивидуальные
        и коллективные обращения в государственные органы и органы местного
        самоуправления.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 40</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на свободное использование своих способностей и
          имущества для предпринимательской и иной не запрещённой законом
          экономической деятельности.
        </li>
        <li class="reforms__constitution-numeric-item">
          Не допускается экономическая деятельность, направленная на
          монополизацию и недобросовестную конкуренцию.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 41</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государство гарантирует и охраняет право частной собственности и
            право наследования.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый вправе иметь имущество в собственности, владеть, пользоваться и
          распоряжаться им как единолично, так и совместно с другими лицами.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никто не может быть лишён своего имущества иначе как по решению суда.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 42</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Граждане и их объединения вправе иметь в частной собственности землю.
        </li>
        <li class="reforms__constitution-numeric-item">
          Владение, пользование и распоряжение землёй и другими природными
          ресурсами осуществляются их собственниками свободно, если это не
          наносит ущерба окружающей среде и не нарушает прав и законных
          интересов иных лиц.
        </li>
        <li class="reforms__constitution-numeric-item">
          Условия и порядок пользования землёй определяются федеральным законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 43</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Труд свободен. Каждый имеет право свободно распоряжаться своими
          способностями к труду, выбирать род деятельности и профессию.
        </li>
        <li class="reforms__constitution-numeric-item">
          Принудительный труд запрещён.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Каждый имеет право на вознаграждение за труд без какой бы то ни было
            дискриминации.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Признаётся право на индивидуальные и коллективные трудовые споры с
          использованием установленных федеральным законом способов их
          разрешения, включая право на забастовку.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на отдых. Работающему по трудовому договору
          гарантируются установленные федеральным законом продолжительность
          рабочего времени, выходные и праздничные дни, оплачиваемый ежегодный
          отпуск.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 44</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Материнство, отцовство и детство, семья находятся под защитой
          государства.
        </li>
        <li class="reforms__constitution-numeric-item">
          Забота о детях, их воспитание — равное право и обязанность родителей.
          Каждый ребенок имеет право жить и воспитываться в семье.
        </li>
        <li class="reforms__constitution-numeric-item">
          Трудоспособные дети, достигшие 18 лет, должны заботиться о
          нетрудоспособных родителях.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Благополучие семей граждан обеспечивается правом на материальную и
            социальную поддержку в установленных федеральным законом случаях.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b> Семейная жизнь неприкосновенна. </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 45</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждому гарантируется социальное обеспечение по возрасту, в случае
          болезни, инвалидности, потери кормильца, для воспитания детей и в иных
          случаях, установленных законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Государственные пенсии и социальные пособия устанавливаются законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Поощряются добровольное социальное страхование, создание
          дополнительных форм социального обеспечения и благотворительность.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 46</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на жилище. Никто не может быть произвольно лишён
          жилища.
        </li>
        <li class="reforms__constitution-numeric-item">
          Органы государственной власти и органы местного самоуправления
          поощряют жилищное строительство, создают условия для осуществления
          права на жилище.
        </li>
        <li class="reforms__constitution-numeric-item">
          Малоимущим, иным указанным в законе гражданам, нуждающимся в жилище,
          оно предоставляется бесплатно или за доступную плату из
          государственных, муниципальных и других жилищных фондов в соответствии
          с установленными законом нормами.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 47</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый гражданин имеет право на охрану здоровья и медицинскую помощь.
          Медицинская помощь в государственных и муниципальных учреждениях
          здравоохранения оказывается гражданам бесплатно за счёт средств
          соответствующего бюджета, страховых взносов и других поступлений.
        </li>
        <li class="reforms__constitution-numeric-item">
          В России финансируются федеральные программы охраны и укрепления
          здоровья человека, принимаются меры по развитию государственной,
          муниципальной, частной систем здравоохранения, поощряется
          деятельность, способствующая укреплению здоровья человека, развитию
          физической культуры и спорта, экологическому и
          санитарно-эпидемиологическому благополучию.
        </li>
        <li class="reforms__constitution-numeric-item">
          Сокрытие должностными лицами фактов и обстоятельств, создающих угрозу
          для жизни и здоровья людей, влечёт за собой ответственность в
          соответствии с федеральным законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 48</h3>
      <p>
        Каждый имеет право на благоприятную окружающую среду, достоверную
        информацию о её состоянии и на возмещение ущерба, причинённого его
        здоровью или имуществу нарушением этого права.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 49</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на образование.
        </li>
        <li class="reforms__constitution-numeric-item">
          Гарантируются общедоступность и бесплатность дошкольного, основного
          общего и среднего профессионального образования в государственных или
          муниципальных образовательных учреждениях.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый вправе на конкурсной основе бесплатно получить высшее
          образование в государственном или муниципальном образовательном
          учреждении и на предприятии.
        </li>
        <li class="reforms__constitution-numeric-item">
          Основное общее образование обязательно. Родители или лица, их
          заменяющие, обеспечивают получение детьми основного общего
          образования.
        </li>
        <li class="reforms__constitution-numeric-item">
          Россия устанавливает федеральные государственные образовательные
          стандарты, поддерживает различные формы образования и самообразования.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 50</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждому гарантируется свобода литературного, художественного,
          научного, технического и других видов творчества, преподавания. Охрана
          и защита интеллектуальной собственности устанавливается федеральным
          законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый имеет право на участие в культурной жизни и пользование
          учреждениями культуры, на доступ к культурным ценностям.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государство поддерживает сохранение исторического и культурного
            наследия русского и всех других коренных народов России.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Представители каждого коренного народа России свободны создавать
            национально-культурные автономии, статус которых определяется
            федеральным законом.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 51</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственная защита прав и свобод человека и гражданина
          гарантируется.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Каждый вправе защищать свои права и свободы всеми способами, не
            запрещёнными законом, в том числе с помощью оружия.
          </b>
          Гражданин вправе приобретать и владеть оружием в порядке,
          установленном федеральным законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 52</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждому гарантируется судебная защита его прав и свобод.
        </li>
        <li class="reforms__constitution-numeric-item">
          Решения и действия (или бездействие) органов государственной власти,
          органов местного самоуправления, общественных объединений и
          должностных лиц могут быть обжалованы в суде.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Каждый вправе обращаться в межгосударственные органы по защите прав
            и свобод человека в соответствии с международными договорами.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 53</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Никто не может быть лишён права на рассмотрение его дела в том суде и
          тем судьёй, к подсудности которых оно отнесено законом.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Обвиняемый в совершении преступления имеет право на рассмотрение его
          дела судом с участием присяжных заседателей,
          <b>
            если наказание за совершенное преступление предусматривает лишение
            свободы, а также в иных случаях, предусмотренных федеральным
            законом.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 54</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждому гарантируется право на получение квалифицированной юридической
          помощи. В случаях, предусмотренных законом, юридическая помощь
          оказывается бесплатно.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый задержанный, заключённый под стражу, обвиняемый в совершении
          преступления имеет право пользоваться помощью адвоката (защитника) с
          момента соответственно задержания, заключения под стражу или
          предъявления обвинения.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 55</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Каждый обвиняемый в совершении преступления считается невиновным, пока
          его виновность не будет доказана в предусмотренном федеральным законом
          порядке и установлена вступившим в законную силу приговором суда.
        </li>
        <li class="reforms__constitution-numeric-item">
          Обвиняемый не обязан доказывать свою невиновность.
        </li>
        <li class="reforms__constitution-numeric-item">
          Неустранимые сомнения в виновности лица толкуются в пользу
          обвиняемого.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 56</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Никто не может быть повторно осуждён за одно и то же преступление.
        </li>
        <li class="reforms__constitution-numeric-item">
          При осуществлении правосудия не допускается использование
          доказательств, полученных с нарушением федерального закона.
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый осуждённый за преступление имеет право на пересмотр приговора
          вышестоящим судом в порядке, установленном федеральным законом, а
          также право просить о помиловании или смягчении наказания.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 57</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Никто не обязан свидетельствовать против себя самого, своего супруга и
          близких родственников, круг которых определяется федеральным законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Федеральным законом могут устанавливаться иные случаи освобождения от
          обязанности давать свидетельские показания.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 58</h3>
      <p>
        Права потерпевших от преступлений и злоупотреблений властью охраняются
        законом. Государство обеспечивает потерпевшим доступ к правосудию и
        компенсацию причинённого ущерба.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 59</h3>
      <p class="reforms__constitution-purple">
        Каждый имеет право на возмещение государством вреда, причинённого
        незаконными,
        <b>а также в случаях, предусмотренных законом, правомерными</b>
        действиями (или бездействием) органов государственной власти или их
        должностных лиц.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 60</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Закон, устанавливающий или отягчающий ответственность, обратной силы
          не имеет.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никто не может нести ответственность за деяние, которое в момент его
          совершения не признавалось правонарушением. Если после совершения
          правонарушения ответственность за него устранена или смягчена,
          применяется новый закон.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 61</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Перечисление в Конституции основных прав и свобод не должно
          толковаться как отрицание или умаление других общепризнанных прав и
          свобод человека и гражданина.
        </li>
        <li class="reforms__constitution-numeric-item">
          В России не должны издаваться законы, отменяющие или умаляющие права и
          свободы человека и гражданина.
        </li>
        <li class="reforms__constitution-numeric-item">
          Права и свободы человека и гражданина могут быть ограничены
          федеральным законом только в той мере, в какой это необходимо в целях
          защиты основ конституционного строя, здоровья, прав и законных
          интересов других лиц, обеспечения обороны страны и безопасности
          государства.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 62</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          В условиях чрезвычайного или военного положения для обеспечения
          безопасности граждан и защиты конституционного строя в соответствии с
          федеральным конституционным законом могут устанавливаться отдельные
          ограничения прав и свобод с указанием пределов и срока их действия.
          <b>
            Запрещается установление указанных отдельных ограничений прав и
            свобод при иных правовых режимах, за исключением чрезвычайного
            положения.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Чрезвычайное положение на всей территории России и в её отдельных
          местностях может вводиться при наличии обстоятельств и в порядке,
          установленном федеральным конституционным законом.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Не подлежат ограничению
          <b>
            следующие права и свободы, предусмотренные Конституцией России:
            право на жизнь (статья 26); свобода совести и свобода
            вероисповедания (статья 34); свобода доступа в Интернет (часть 5
            статьи 35); право на судебную защиту прав и свобод (статья 52),
            включая такие связанные с судебной защитой права и свободы, как
            рассмотрение дела в суде и тем судьёй к подсудности которых оно
            отнесено законом (статья 53), получение квалифицированной
            юридической помощи (статья 54), презумпцию невиновности (статья 55),
            не быть повторно осуждённым за одно и то же преступление (статья
            56), не свидетельствовать против себя самого, своего супруга и
            близких родственников (статья 57), права потерпевших от преступлений
            и злоупотреблений властью на доступ к правосудию и компенсацию
            причинённого ущерба (статья 58), возмещение государством вреда,
            причинённого незаконными, а также в случаях, предусмотренных
            законом, правомерными действиями (или бездействием) органов
            государственной власти или их должностных лиц (статья 59), не нести
            ответственность за деяние, которое в момент его совершения не
            признавалось правонарушением (статья 60) .
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 63</h3>
      <p>
        Каждый обязан платить законно установленные налоги и сборы. Законы,
        устанавливающие новые налоги или ухудшающие положение
        налогоплательщиков, обратной силы не имеют.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 64</h3>
      <p>
        Каждый обязан сохранять природу и окружающую среду, бережно относиться к
        природным богатствам, гуманно и ответственно обращаться с животными.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 65</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Защита Отечества является долгом и обязанностью гражданина.
        </li>
        <li class="reforms__constitution-numeric-item">
          Гражданин несёт военную службу в соответствии с федеральным законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Гражданин в случае, если его убеждениям или вероисповеданию
          противоречит несение военной службы, а также в иных установленных
          федеральным законом случаях имеет право на замену её альтернативной
          гражданской службой.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 66</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Россия предоставляет политическое убежище иностранным гражданам и
          лицам без гражданства
          <b>
            в случае соответствующей политической или гуманитарной
            необходимости.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          В России не допускается выдача другим государствам лиц, преследуемых
          за политические убеждения, а также за действия (или бездействие), не
          признаваемые в России преступлением. Выдача лиц, обвиняемых в
          совершении преступления, а также передача осуждённых для отбывания
          наказания в других государствах осуществляются на основе федерального
          закона или международного договора.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 67</h3>
      <p>
        Положения настоящей главы составляют основы правового статуса личности и
        не могут быть изменены иначе как в порядке, установленном настоящей
        Конституцией.
      </p>
    </li>
  </ul>
</div>
