<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">Глава 6. Правительство россии</h2>

  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 111</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Исполнительную власть России осуществляет Правительство.
        </li>
        <li class="reforms__constitution-numeric-item">
          Правительство состоит из Председателя Правительства, заместителей
          Председателя Правительства и федеральных министров.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 112</h3>
      <p class="reforms__constitution-purple">
        Председатель Правительства <b>назначается Президентом</b> не позднее
        двухнедельного срока после вступления в должность вновь избранного
        Президента или после отставки Правительства.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 113</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Председатель Правительства не позднее недельного срока после
          назначения представляет Президенту предложения о структуре федеральных
          органов исполнительной власти.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Председатель Правительства назначает на должность и освобождает от
            должности заместителей Председателя Правительства и федеральных
            министров.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 114</h3>
      <p>
        Председатель Правительства в соответствии с Конституцией, федеральным
        законодательством и указами Президента определяет основные направления
        деятельности Правительства и организует его работу.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 115</h3>
      <ul class="reforms__constitution-abc-list">
        <li>1. Правительство:</li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          а) разрабатывает и представляет Государственной Думе федеральный
          бюджет и обеспечивает его исполнение; представляет Государственной
          Думе отчет об исполнении федерального бюджета; представляет
          Государственной Думе ежегодные отчеты о результатах своей
          деятельности,
          <b>
            а также о результатах и эффективности применения федеральных законов
            и нормативных правовых актов, изданных федеральными органами
            исполнительной власти </b
          >, в том числе по вопросам, поставленным Государственной Думой;
        </li>
        <li class="reforms__constitution-numeric-item">
          б) обеспечивает проведение единой финансовой, кредитной и денежной
          политики;
        </li>
        <li class="reforms__constitution-numeric-item">
          в) обеспечивает проведение единой государственной политики в области
          культуры, науки, образования, здравоохранения, социального
          обеспечения, экологии;
        </li>
        <li class="reforms__constitution-numeric-item">
          г) осуществляет управление федеральной собственностью;
        </li>
        <li class="reforms__constitution-numeric-item">
          д) осуществляет меры по обеспечению обороны страны, государственной
          безопасности, реализации внешней политики России;
        </li>
        <li class="reforms__constitution-numeric-item">
          е) осуществляет меры по обеспечению законности, прав и свобод граждан,
          охране собственности и общественного порядка, борьбе с преступностью;
        </li>
        <li class="reforms__constitution-numeric-item">
          ж) осуществляет иные полномочия, возложенные на него Конституцией,
          федеральным законодательством, указами Президента.
        </li>
        <li class="reforms__constitution-numeric-item">
          2. Порядок деятельности Правительства определяется федеральным
          конституционным законом.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 116</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          На основании и во исполнение Конституции, федерального
          законодательства, нормативных указов Президента Правительство издает
          постановления и распоряжения, обеспечивает их исполнение.
        </li>
        <li class="reforms__constitution-numeric-item">
          Постановления и распоряжения Правительства обязательны к исполнению в
          России.
        </li>
        <li class="reforms__constitution-numeric-item">
          Постановления и распоряжения Правительства в случае их противоречия
          Конституции, федеральному законодательству и указам Президента могут
          быть отменены Президентом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 117</h3>
      <p>
        Перед вновь избранным Президентом Правительство слагает свои полномочия.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 118</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Правительство может подать в отставку, которая принимается или
          отклоняется Президентом.
        </li>
        <li class="reforms__constitution-numeric-item">
          В случае отставки или сложения полномочий Правительство по поручению
          Президента продолжает действовать до формирования нового
          Правительства.
        </li>
        <li class="reforms__constitution-numeric-item">
          В случае отставки или сложения полномочий Правительство по поручению
          Президента продолжает действовать до формирования нового
          Правительства.
        </li>
      </ol>
    </li>
  </ul>
</div>
