<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">Глава 4. Президент россии</h2>

  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 80</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Президент России является главой государства и гарантом Конституции.
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент в установленном Конституцией порядке принимает меры по
          охране суверенитета России, её независимости и территориальной
          целостности, обеспечивает согласованное функционирование и
          взаимодействие органов государственной власти.
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент в соответствии с Конституцией и федеральными законами
          определяет основные направления внутренней и внешней политики
          государства.
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент как глава государства представляет Россию внутри страны и в
          международных отношениях.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 81</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Президент избирается сроком на 4 года гражданами на всеобщих, равных
            и прямых выборах при тайном голосовании.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Президентом может быть избран гражданин не моложе 35 лет, постоянно
          проживающий в России не менее 10 лет.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Одно и то же лицо может занимать должность Президента не более двух
            сроков, при этом по окончании первого срока проводятся новые выборы
            Президента.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Порядок выборов Президента определяется федеральным конституционным
            законом. Выборы Президента не могут проходить в один год с основными
            выборами депутатов Государственной Думы и Государственного Совета.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 82</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            При вступлении в должность Президент приносит гражданам следующую
            присягу:
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            «Заступая на пост Президента, клянусь уважать и охранять права и
            свободы человека и гражданина, соблюдать и защищать Конституцию,
            признавать право на местное самоуправление, защищать суверенитет и
            независимость, безопасность и целостность государства, верно служить
            народу России, работать на его процветание, обеспечивать охрану
            исторического и культурного наследия» .
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 83</h3>
      <ul class="reforms__constitution-abc-list">
        <li>Президент:</li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>а) назначает Председателя Правительства;</b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            б) вправе поставить перед Государственной Думой вопрос об отставке
            Председателя Правительства, Правительства, руководителя федерального
            органа исполнительной власти;
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          в) представляет Государственной Думе кандидатуру для назначения на
          должность Председателя Центрального банка; ставит перед
          Государственной Думой вопрос об освобождении от должности Председателя
          Центрального банка;
        </li>
        <li class="reforms__constitution-numeric-item">
          г) представляет Государственному Совету кандидатуры для назначения на
          должность судей Верховного Суда; назначает одну треть судей
          Конституционного суда; назначает судей других федеральных судов;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          д) представляет Государственному Совету кандидатуры для назначения на
          должность Генерального прокурора и заместителей Генерального
          прокурора; вносит в Государственный Совет предложения об освобождении
          от должности Генерального прокурора и
          <b>
            заместителей Генерального прокурора; назначает на должность и
            освобождает от должности прокуроров губерний, а также иных
            прокуроров, кроме прокуроров городов, районов и приравненных к ним
            прокуроров;
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          е) формирует и возглавляет Совет Безопасности, статус которого
          определяется федеральным законом;
        </li>
        <li class="reforms__constitution-numeric-item">
          ж) утверждает военную доктрину;
        </li>
        <li class="reforms__constitution-numeric-item">
          з) формирует Администрацию Президента;
        </li>
        <li class="reforms__constitution-numeric-item">
          и) назначает и освобождает от должности высшее командование
          Вооружённых Сил;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>к) по представлению профильного федерального министра</b>
          назначает и отзывает после консультаций с соответствующими комитетами
          или комиссиями палат Федерального Собрания дипломатических
          представителей России в иностранных государствах и международных
          организациях.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 84</h3>
      <ul class="reforms__constitution-abc-list">
        <li>Президент:</li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          а) назначает выборы Государственной Думы
          <b>и членов Государственного Совета</b> в соответствии с Конституцией
          и федеральными конституционными законами;
        </li>
        <li class="reforms__constitution-numeric-item">
          б) назначает референдум в порядке, установленном федеральным
          конституционным законом;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          в) вносит законопроекты в Государственную Думу,
          <b
            >за исключением проектов федеральных конституционных законов о
            поправках в Конституцию;</b
          >
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          г) подписывает и обнародует федеральные законы,
          <b>федеральные конституционные законы;</b>
        </li>
        <li class="reforms__constitution-numeric-item =">
          д) обращается к Федеральному Собранию с ежегодными посланиями о
          положении в стране, об основных направлениях внутренней и внешней
          политики государства.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 85</h3>
      <p>
        Президент может использовать согласительные процедуры для разрешения
        разногласий между органами государственной власти России и органами
        государственной власти губерний, а также между органами государственной
        власти губерний. В случае недостижения согласованного решения он может
        передать разрешение спора на рассмотрение соответствующего суда.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 86</h3>
      <ul class="reforms__constitution-abc-list">
        <li>Президент:</li>
        <li class="reforms__constitution-numeric-item">
          а) осуществляет руководство внешней политикой;
        </li>
        <li class="reforms__constitution-numeric-item">
          б) ведет переговоры и подписывает международные договоры;
        </li>
        <li class="reforms__constitution-numeric-item">
          в) подписывает ратификационные грамоты;
        </li>
        <li class="reforms__constitution-numeric-item">
          г) принимает верительные и отзывные грамоты аккредитуемых при нём
          дипломатических представителей.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 87</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Президент является Верховным Главнокомандующим Вооружёнными Силами.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          В случае агрессии против России или непосредственной угрозы агрессии
          Президент
          <b>
            имеет право на введение на территории России или в отдельных её
            территориях военного положения по согласованию с Государственной
            Думой и последующим уведомлением Государственного Совета.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Режим военного положения определяется федеральным конституционным
          законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 88</h3>
      <p class="reforms__constitution-purple">
        Президент при обстоятельствах и в порядке, предусмотренных федеральным
        конституционным законом,
        <b>
          имеет право на введение на территории России или на отдельных её
          территориях чрезвычайного положения по согласованию с Государственной
          Думой и последующим уведомлением Государственного Совета.
        </b>
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 89</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Президент решает вопросы гражданства и предоставления политического
          убежища.
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент награждает государственными наградами, присваивает почётные
          звания, высшие воинские и высшие специальные звания;
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент осуществляет помилование.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 90</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Президент издает указы и распоряжения.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Нормативные указы Президента вступают в силу после утверждения
            простым большинством членов Государственного Совета и опубликования.
            Ненормативные акты Президента вступают в силу с момента их
            подписания.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Указы и распоряжения Президента не должны противоречить Конституции и
          федеральному законодательству.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 91</h3>
      <p>
        <b class="reforms__constitution-purple">
          Президент в течение всего срока действия принадлежащих ему полномочий
          не может быть привлечён к уголовной и административной
          ответственности, задержан, арестован, подвергнут обыску или личному
          досмотру.
        </b>
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 92</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Президент приступает к исполнению полномочий с момента принесения им
          присяги и прекращает их исполнение с истечением срока его пребывания в
          должности с момента принесения присяги вновь избранным Президентом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент прекращает исполнение полномочий досрочно в случае его
          отставки, стойкой неспособности по состоянию здоровья осуществлять
          принадлежащие ему полномочия или отрешения от должности. При этом
          выборы Президента должны состояться не позднее трёх месяцев с момента
          досрочного прекращения исполнения полномочий.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Во всех случаях, когда Президент не в состоянии выполнять свои
          обязанности, их временно исполняет Председатель Правительства.
          <b>
            В случае, если председатель Правительства не назначен или временно
            не в состоянии выполнять свои обязанности, то полномочия Президента
            исполняет Председатель Государственного Совета.
          </b>
          Исполняющий обязанности Президента не имеет права распускать
          Государственную Думу, назначать референдум, а также вносить
          предложения о поправках и пересмотре положений Конституции.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 93</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Администрация Президента является органом
            организационно-хозяйственного обеспечения осуществления полномочий
            Президента.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Администрация Президента не имеет исполнительных, законодательных и
            судебных полномочий.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 94</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Президент может быть отрешён от должности Государственным Советом
            только на основании выдвинутого Государственной Думой обвинения в
            государственной измене или совершении иного преступления.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Государственная Дума может принять решение о выдвижении обвинения
            против Президента простым большинством голосов депутатов
            Государственной Думы, после чего обвинение передается для принятия
            решения в Государственном Совете.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Государственный Совет проводит гласные слушания по вопросу принятия
            решения об отрешении Президента от должности в срок не позднее 3
            месяцев после выдвижения обвинения Государственной Думой.
            Возглавляет работу Государственного Совета при проведении слушаний
            Председатель Конституционного суда. При проведении слушаний в
            Государственном Совете специально образованная Государственной Думой
            комиссия поддерживает обвинение. Президент имеет право выступать в
            свою защиту в ходе слушаний.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Решение об отрешении Президента от должности принимается двумя
            третями голосов от общего числа членов Государственного Совета.
          </b>
        </li>
      </ol>
    </li>
  </ul>
</div>
