<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">Глава 8. Местное самоуправление</h2>

  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 130</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Местное самоуправление обеспечивает самостоятельное решение
          <b
            >гражданами, проживающими на определённой территории, вопросов
            местного значения.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Местное самоуправление осуществляется гражданами путём референдума,
          выборов, других форм прямого волеизъявления, через выборные и другие
          органы местного самоуправления.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Выборные органы местного самоуправления избираются на прямых
            выборах.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Местные судебные органы образуются в соответствии с федеральным
          конституционным законом.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Органы местного самоуправления в пределах полномочий, определенных
          федеральным законом, принимают решения, являющиеся обязательными к
          исполнению на соответствующей территории.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 131</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Местное самоуправление осуществляется на соответствующей территории с
          учётом исторических и иных местных традиций. Структура органов
          местного самоуправления определяется
          <b
            >ими самостоятельно в пределах, установленных федеральным
            законом.</b
          >
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Изменение границ территорий, в которых осуществляется местное
          самоуправление, допускается <b>только</b> с учётом мнения людей,
          проживающих на соответствующих территориях.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 132</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Органы местного самоуправления самостоятельно управляют
          собственностью, формируют, утверждают и исполняют местный бюджет,
          устанавливают местные налоги и сборы,
          <b>
            утверждают программы социально-экономического и культурного развития
            и контролируют их выполнение, создают, реорганизуют и ликвидируют
            муниципальные предприятия и учреждения </b
          >, осуществляют охрану общественного порядка, а также решают иные
          вопросы местного значения.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Органы местного самоуправления реализуют
          <b
            >право русских и всех других коренных народов России на сохранение
            родного языка, создание условий для его изучения и развития.</b
          >
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b
            >Органы местного самоуправления вправе осуществлять на договорной
            основе сотрудничество с другими органами местного самоуправления для
            решения вопросов, представляющих их общий интерес, состоять в союзах
            и ассоциациях органов местного самоуправления, а также в порядке и
            случаях, установленных федеральным законом, осуществлять
            сотрудничество с органами местного самоуправлениями других
            государств.</b
          >
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 133</h3>
      <p>
        Местное самоуправление гарантируется правом на судебную защиту, на
        компенсацию дополнительных расходов, возникших в результате решений,
        принятых органами государственной власти, запретом на ограничение прав
        местного самоуправления, установленных Конституцией и федеральными
        законами.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 134</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            В случаях и порядке, установленных федеральным законом, органы
            государственной власти вправе осуществлять надзор за деятельностью
            органов местного самоуправления в целях защиты прав и свобод
            человека, основ конституционного строя, обеспечения законности и
            правопорядка.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Надзор за деятельностью органов местного самоуправления должен
            осуществляться при соблюдении принципов законности, соразмерности и
            учёта интересов граждан, проживающих на данной территории.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Решения органов местного самоуправления по мотивам их несоответствия
            Конституции или федеральным законам подлежат приостановлению в
            установленном федеральным законом порядке с одновременным обращением
            в суд.
          </b>
        </li>
      </ol>
    </li>
  </ul>
</div>
