<div class="reforms__group" id="constitution-text">
  <h2 class="reforms__suptitle heading-2">
    Глава 1. Основы конституционного строя
  </h2>
  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item not-hide">
      <h3 class="reforms__constitution-title heading-3">Статья 1</h3>
      <p class="reforms__constitution-purple">
        <b>Россия</b> есть демократическое федеративное правовое государство с
        республиканской формой правления
      </p>
    </li>
    <li class="reforms__constitution-item not-hide">
      <h3 class="reforms__constitution-title heading-3">Статья 2</h3>
      <p>
        Человек, его права и свободы, являются высшей ценностью для государства.
        Признание, соблюдение и защита прав и свобод человека и гражданина, а
        также служение им — обязанность государства.
      </p>
    </li>
    <li class="reforms__constitution-item not-hide">
      <h3 class="reforms__constitution-title heading-3">Статья 3</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Носителями суверенитета и единственным источником власти в России
          являются граждане.
        </li>
        <li class="reforms__constitution-numeric-item">
          Граждане осуществляют свою власть непосредственно, а также через
          органы государственной власти и органы местного самоуправления.
        </li>
        <li class="reforms__constitution-numeric-item">
          Высшим непосредственным выражением власти граждан являются референдум
          и свободные выборы.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никто не может присваивать власть в России. Захват власти или
          присвоение властных полномочий преследуются в соответствии с
          федеральным законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 4</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Суверенитет России распространяется на всю её территорию.
        </li>
        <li class="reforms__constitution-numeric-item">
          Конституция и федеральное законодательство имеют верховенство на всей
          территории России.
        </li>
        <li class="reforms__constitution-numeric-item">
          Россия обеспечивает целостность и неприкосновенность своей территории.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 5</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственным языком России на всей её территории является русский
          язык.
        </li>
        <li class="reforms__constitution-numeric-item">
          Россия гарантирует всем её коренным народам свободу сохранения родного
          языка, создание условий для его изучения и развития.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 6</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>Россия состоит из губерний.</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Губерния имеет свой устав и законодательство.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          Федеративное устройство России основано на её государственной
          целостности, единстве системы государственной власти, разграничении
          предметов ведения и полномочий между органами государственной власти и
          органами государственной власти губерний, а также равноправии
          <b>русских и всех других коренных народов России.</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Во взаимоотношениях с федеральными органами государственной власти все
          губернии между собой равноправны.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>Губернии и их части не имеют права выхода из состава России.</b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 7</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственный строй в России основывается на разделении
          законодательной, исполнительной и судебной власти. Органы
          законодательной, исполнительной и судебной власти самостоятельны в
          пределах своей компетенции.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b
            >Вооружённым силам и специальным службам запрещено влиять на иные
            органы государственной власти и органы местного самоуправления с
            целью определения их государственной политики, кроме случаев,
            предусмотренных настоящей Конституцией.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 7</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственный строй в России основывается на разделении
          законодательной, исполнительной и судебной власти. Органы
          законодательной, исполнительной и судебной власти самостоятельны в
          пределах своей компетенции.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b
            >Вооружённым силам и специальным службам запрещено влиять на иные
            органы государственной власти и органы местного самоуправления с
            целью определения их государственной политики, кроме случаев,
            предусмотренных настоящей Конституцией.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 8</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Государственную власть осуществляют Президент, Федеральное Собрание
          (<b>Государственный Совет</b> и Государственная Дума), Правительство,
          суды
        </li>
        <li class="reforms__constitution-numeric-item">
          Государственную власть в губерниях осуществляют образуемые ими органы
          государственной власти.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Разграничение предметов ведения и полномочий между органами
          государственной власти и органами государственной власти губерний
          осуществляется настоящей <b>Конституцией</b>.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 9</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Гражданство приобретается и прекращается в соответствии с федеральным
          законом, является единым и равным независимо от оснований
          приобретения.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b
            >Представители русского и всех других коренных народов России могут
            приобрести гражданство в упрощённом порядке. Ребёнок, родителем
            которого является гражданин, также признаётся гражданином.</b
          >
        </li>
        <li class="reforms__constitution-numeric-item">
          Каждый гражданин России обладает на её территории всеми правами и
          свободами и несёт равные обязанности, предусмотренные Конституцией.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государство гарантирует право граждан на помощь и поддержку при
            возвращении их на Родину.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Гражданин не может быть лишён своего гражданства или права изменить
          его.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Россия оказывает помощь представителям русского и всех других
            коренных народов России, проживающим за границей, в сохранении их
            связей с Россией.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Россия оказывает помощь представителям русского и всех других
            коренных народов России, проживающим за границей, при возвращении их
            на Родину.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 10</h3>
      <p>
        Гражданин может самостоятельно осуществлять в полном объёме свои права и
        обязанности с 18 лет.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 11</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Выдача гражданина другому государству запрещена.
        </li>
        <li class="reforms__constitution-numeric-item">
          Россия гарантирует своим гражданам защиту и покровительство за её
          пределами.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 12</h3>
      <p class="reforms__constitution-purple">
        <b>
          Наличие у гражданина гражданства иностранного государства не умаляет
          его прав и свобод и не освобождает от обязанностей, вытекающих из
          российского гражданства.
        </b>
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 13</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b
            >Россия обеспечивает достойный уровень жизни и свободное развитие
            граждан.</b
          >
        </li>
        <li class="reforms__constitution-numeric-item">
          В России охраняются труд и здоровье людей, устанавливается
          гарантированный минимальный размер оплаты труда, обеспечивается
          государственная поддержка пожилых граждан, людей с ограниченными
          возможностями, развивается система социальных служб, устанавливаются
          государственные пенсии, пособия и иные гарантии социальной защиты.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 14</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          В России гарантируются единство экономического пространства, свободное
          перемещение товаров, услуг и финансовых средств, поддержка
          конкуренции, свобода экономической деятельности.
        </li>
        <li class="reforms__constitution-numeric-item">
          Собственность как основа достойной жизни граждан подлежит охране и
          защите со стороны государства.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b
            >Оказание финансовой поддержки губерниям из федерального бюджета
            осуществляется на основе сбалансированных экономических критериев,
            определенных федеральным законом.</b
          >
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 15</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          На территории России не допускается установление таможенных границ,
          пошлин, сборов и каких-либо иных препятствий для свободного
          перемещения товаров, услуг и финансовых средств.
        </li>
        <li class="reforms__constitution-numeric-item">
          Ограничения перемещения товаров и услуг могут вводиться в соответствии
          с федеральным законом, если это необходимо для обеспечения
          безопасности, защиты жизни и здоровья людей, охраны природы и
          культурных ценностей.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 16</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Земля и другие природные ресурсы используются и охраняются как основа
          жизни и деятельности граждан.
        </li>
        <li class="reforms__constitution-numeric-item">
          Земля и другие природные ресурсы могут находиться в собственности.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 17</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b
            >В России признаётся и гарантируется местное самоуправление как
            право и реальная способность граждан, проживающих на определённой
            территории, регламентировать и решать значительную часть вопросов
            местного значения, действуя в рамках настоящей Конституции и
            федеральных законов, под свою ответственность и в интересах граждан,
            проживающих на данной территории.</b
          >
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Органы местного самоуправления пользуются свободой и
            самостоятельностью при реализации своих полномочий, необходимых для
            решения вопросов местного значения.
          </b>
          Местное самоуправление в пределах своих полномочий самостоятельно.
          Органы местного самоуправления не входят в систему органов
          государственной власти.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Органы государственной власти вправе делегировать свои полномочия
            органам местного самоуправления и предоставлять им финансовое и
            материальное обеспечение в соответствии с принципами децентрализации
            власти, субсидиарности и экономической эффективности. Реализация
            органами местного самоуправления делегированных полномочий подлежит
            контролю со стороны соответствующих органов государственной власти.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Дополнительные расходы органов местного самоуправления, возникшие
            вследствие решений органов государственной власти, подлежат
            возмещению государством.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 18</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          В России признаётся идеологическое многообразие.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никакая идеология не может устанавливаться в качестве государственной
          или обязательной.
        </li>
        <li class="reforms__constitution-numeric-item">
          В России признаются политическое многообразие, многопартийность.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 19</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          В России никакая религия не может устанавливаться в качестве
          государственной или обязательной.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Государство признаёт особую роль традиционных конфессий в
            становлении русского и всех других коренных народов России, и
            поощряет их развитие.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Религиозные объединения самостоятельны, равны перед законом и
          <b>
            не могут принудительно использоваться для проведения государственной
            политики.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 20</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Конституция имеет высшую юридическую силу, прямое действие и
          применяется на всей территории России. Законы и иные правовые акты,
          принимаемые в России, не должны противоречить Конституции.
        </li>
        <li class="reforms__constitution-numeric-item">
          Органы государственной власти, органы местного самоуправления,
          должностные лица, граждане и их объединения обязаны соблюдать
          Конституцию и законы.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Законы подлежат официальному опубликованию. Неопубликованные законы не
          применяются. Любые нормативные правовые акты, затрагивающие права,
          свободы и обязанности человека и гражданина, не могут применяться,
          если они не опубликованы официально для всеобщего сведения.
          <b>
            Принципы и порядок разработки, принятия и оценки эффективности
            законов и иных нормативных правовых актов определяются федеральным
            законом.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b> Международные договоры </b> России являются составной частью её
          правовой системы. Если международным договором установлены иные
          правила, чем предусмотренные законом, то применяются правила
          международного договора.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 21</h3>
      <p>
        Россия может участвовать в межгосударственных объединениях и передавать
        им часть своих полномочий в соответствии с международными договорами,
        если это не влечёт ограничения прав и свобод человека и гражданина и не
        противоречит основам конституционного строя.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 22</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Положения настоящей главы Конституции составляют основы
          конституционного строя и не могут быть изменены иначе как в порядке,
          установленном настоящей Конституцией.
        </li>
        <li class="reforms__constitution-numeric-item">
          Никакие другие положения настоящей Конституции не могут противоречить
          основам конституционного строя.
        </li>
      </ol>
    </li>
  </ul>
</div>
