<div class="reforms__group can-hide">
  <h2 class="reforms__suptitle heading-2">Глава 3. Федеративное устройство</h2>

  <ul class="reforms__constitution-list list-reset">
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 68</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>Россия состоит из губерний.</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Принятие в состав России и образование в её составе новой губернии
          осуществляются в порядке, установленном федеральным конституционным
          законом.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 69</h3>
      <p>
        Статус губернии определяется Конституцией и уставом губернии,
        принимаемым законодательным (представительным) органом соответствующей
        губернии.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 70</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Территория России включает в себя территории её губерний, внутренние
          воды и территориальное море, воздушное пространство над ними.
        </li>
        <li class="reforms__constitution-numeric-item">
          Россия обладает суверенными правами и осуществляет юрисдикцию на
          континентальном шельфе и в исключительной экономической зоне России в
          порядке, определяемом федеральным законом и нормами международного
          права.
        </li>
        <li class="reforms__constitution-numeric-item">
          Границы между губерниями могут быть изменены с их взаимного согласия.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 71</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Государственные флаг, герб и гимн России, их описание и порядок
          официального использования устанавливаются федеральным конституционным
          законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Столицей России является город Москва.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 72</h3>
      <ul class="reforms__constitution-abc-list">
        <li>В ведении России находятся:</li>
        <li class="reforms__constitution-numeric-item">
          а) принятие и изменение Конституции и федерального законодательства,
          контроль за их соблюдением;
        </li>
        <li class="reforms__constitution-numeric-item">
          б) федеративное устройство и территория России;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          в) регулирование и защита прав и свобод человека и гражданина;
          гражданство;
          <b>охрана и защита прав национально-культурных автономий;</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          г) установление системы федеральных органов законодательной,
          исполнительной и судебной власти, порядка их организации и
          деятельности; формирование федеральных органов государственной власти;
        </li>
        <li class="reforms__constitution-numeric-item">
          д) федеральная собственность и управление ею;
        </li>
        <li class="reforms__constitution-numeric-item">
          е) установление основ федеральной политики и федеральные программы в
          области государственного, экономического, экологического, социального,
          культурного и национального развития;
        </li>
        <li class="reforms__constitution-numeric-item">
          ж) установление правовых основ единого рынка; финансовое, валютное,
          кредитное, таможенное регулирование, денежная эмиссия, основы ценовой
          политики; федеральные экономические службы, включая федеральные банки;
        </li>
        <li class="reforms__constitution-numeric-item">
          з) федеральный бюджет; федеральные налоги и сборы; федеральные фонды
          регионального развития;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>и) установление общих принципов налогообложения и сборов;</b>
        </li>
        <li class="reforms__constitution-numeric-item">
          к) федеральные энергетические системы, ядерная энергетика,
          расщепляющиеся материалы; федеральные транспорт, пути сообщения,
          информация и связь; деятельность в космосе;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          л) внешняя политика и международные отношения,
          <b>международные договоры;</b>
          вопросы войны и мира;
        </li>
        <li class="reforms__constitution-numeric-item">
          м) внешнеэкономические отношения России;
        </li>
        <li class="reforms__constitution-numeric-item">
          н) оборона и безопасность; оборонное производство; определение порядка
          продажи и покупки оружия, боеприпасов, военной техники и другого
          военного имущества; производство ядовитых веществ, наркотических
          средств и порядок их использования;
        </li>
        <li class="reforms__constitution-numeric-item">
          о) определение статуса и защита государственной границы,
          территориального моря, воздушного пространства, исключительной
          экономической зоны и континентального шельфа России;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          п) судоустройство; прокуратура; уголовное и уголовно-исполнительное
          законодательство; амнистия и помилование; процессуальное
          законодательство; правовое регулирование интеллектуальной
          собственности; <b>законодательство о нормативных правовых актах;</b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            р) установление общих принципов организации системы органов
            государственной власти и местного самоуправления;
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          с) федеральное коллизионное право;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            т) координация международных и внешнеэкономических связей губерний;
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          у) метрологическая служба, стандарты, эталоны, метрическая система и
          исчисление времени; геодезия и картография; наименования
          географических объектов; метеорологическая служба; официальный
          статистический и бухгалтерский учёт;
        </li>
        <li class="reforms__constitution-numeric-item">
          ф) государственные награды и почётные звания России;
        </li>
        <li class="reforms__constitution-numeric-item">
          х) федеральная государственная служба.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 73</h3>
      <ul class="reforms__constitution-abc-list">
        <li>1. В совместном ведении России и губерний находятся:</li>
        <li class="reforms__constitution-numeric-item">
          а) обеспечение соответствия уставов, законов и иных нормативных
          правовых актов губерний Конституции и федеральным законам;
        </li>
        <li class="reforms__constitution-numeric-item">
          б) защита прав и свобод человека и гражданина; обеспечение законности,
          правопорядка, общественной безопасности; режим пограничных зон;
        </li>
        <li class="reforms__constitution-numeric-item">
          в) вопросы владения, пользования и распоряжения землёй, недрами,
          водными и другими природными ресурсами;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          г) разграничение
          <b>
            собственности России, её губерний и органов местного самоуправления;
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          д) природопользование; охрана окружающей среды и обеспечение
          экологической безопасности; особо охраняемые природные территории;
          охрана памятников истории и культуры;
        </li>
        <li class="reforms__constitution-numeric-item">
          е) общие вопросы воспитания, образования, науки, культуры, физической
          культуры и спорта;
        </li>
        <li class="reforms__constitution-numeric-item">
          ж) координация вопросов здравоохранения; защита семьи, материнства,
          отцовства и детства; социальная защита, включая социальное
          обеспечение;
        </li>
        <li class="reforms__constitution-numeric-item">
          з) осуществление мер по борьбе с катастрофами, стихийными бедствиями,
          эпидемиями, ликвидация их последствий;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          и) административное, административно-процессуальное,
          <b>гражданское</b>, трудовое, семейное, жилищное, земельное, водное,
          лесное законодательство, законодательство о недрах, об охране
          окружающей среды;
        </li>
        <li class="reforms__constitution-numeric-item">
          к) кадры судебных и правоохранительных органов; адвокатура, нотариат;
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          л) координация международных и внешнеэкономических,
          <b>культурных связей</b>, выполнение международных договоров.
        </li>
      </ul>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 74</h3>
      <p>
        Вне пределов ведения и полномочий России по предметам совместного
        ведения губернии обладают всей полнотой государственной власти.
      </p>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 75</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Денежной единицей в России является рубль. Денежная эмиссия рубля
          осуществляется исключительно Центральным банком России.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>Монетарная политика</b> — основная функция Центрального банка,
          которую он осуществляет независимо от других органов государственной
          власти.
        </li>
        <li class="reforms__constitution-numeric-item">
          Система налогов, взимаемых в федеральный бюджет, и общие принципы
          налогообложения и сборов в России устанавливаются федеральным законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          Государственные займы выпускаются в порядке, определяемом федеральным
          законом, и размещаются на добровольной основе.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          <b>
            Граждане свободны выпускать, приобретать и распоряжаться цифровыми
            суррогатами денежных средств в порядке, предусмотренном федеральным
            законом.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 76</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          По предметам ведения России принимаются федеральные конституционные
          законы и федеральные законы, имеющие прямое действие на всей
          территории.
        </li>
        <li class="reforms__constitution-numeric-item">
          По предметам совместного ведения России и губерний издаются
          федеральные законы и принимаемые в соответствии с ними законы и иные
          нормативные правовые акты губерний.
        </li>
        <li class="reforms__constitution-numeric-item">
          Федеральные законы не могут противоречить федеральным конституционным
          законам.
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-purple"
        >
          Губернии осуществляют собственное правовое регулирование, включая
          принятие законов и иных нормативных правовых актов,
          <b>
            вне пределов ведения России, совместного ведения России и губерний.
          </b>
        </li>
        <li class="reforms__constitution-numeric-item">
          Законы и иные нормативные правовые акты губерний не могут
          противоречить федеральным законам, принятым в соответствии с частями
          первой и второй настоящей статьи. В случае противоречия между
          федеральным законом и иным актом, изданным в России, действует
          федеральный закон.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 77</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Система органов государственной власти губерний устанавливается
          губерниями самостоятельно в соответствии с основами конституционного
          строя и общими принципами организации представительных и
          исполнительных органов государственной власти, установленными
          федеральным законом.
        </li>
        <li class="reforms__constitution-numeric-item">
          В пределах ведения России и полномочий России по предметам совместного
          ведения России и губерний федеральные органы исполнительной власти и
          органы исполнительной власти губерний образуют единую систему
          исполнительной власти.
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 78</h3>
      <ol class="reforms__constitution-numeric-list">
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Губернатор — руководитель высшего исполнительного органа
            государственной власти губерний и его заместитель избираются путём
            прямого голосования на выборах жителями соответствующей губернии.
          </b>
        </li>
        <li
          class="reforms__constitution-numeric-item reforms__constitution-green"
        >
          <b>
            Губернатор может быть отрешён от должности по решению
            Государственного Совета, принятого двумя третями голосов от общего
            числа членов Государственный Совета на основании представления
            Президента, а также по решению законодательного (представительного)
            органа власти губернии, принятому двумя третями голосов от общего
            числа депутатов.
          </b>
        </li>
      </ol>
    </li>
    <li class="reforms__constitution-item">
      <h3 class="reforms__constitution-title heading-3">Статья 79</h3>
      <ol class="reforms__constitution-numeric-list">
        <li class="reforms__constitution-numeric-item">
          Федеральные органы исполнительной власти для осуществления своих
          полномочий могут создавать свои территориальные органы и назначать
          соответствующих должностных лиц.
        </li>
        <li class="reforms__constitution-numeric-item">
          Федеральные органы исполнительной власти по соглашению с органами
          исполнительной власти губерний могут передавать им осуществление части
          своих полномочий, если это не противоречит Конституции и федеральным
          законам.
        </li>
        <li class="reforms__constitution-numeric-item">
          Органы исполнительной власти губерний по соглашению с федеральными
          органами исполнительной власти могут передавать им осуществление части
          своих полномочий.
        </li>
        <li class="reforms__constitution-numeric-item">
          Президент и Правительство обеспечивают в соответствии с Конституцией
          осуществление полномочий федеральной государственной власти на всей
          территории страны.
        </li>
      </ol>
    </li>
  </ul>
</div>
