// $max: 1400px;
$max: 1400px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 568px;

$main-font: 'Inter', sans-serif;

@mixin imageCenter {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
