.footer {
  margin-top: auto;
  background: #000;

  // .footer__inner

  &__inner {
    display: flex;
    padding: 52px 0;

    @media (max-width: $sm) {
      flex-direction: column;
      padding: 24px 0px 48px;
      text-align: center;
      align-items: center;
    }
  }

  // .footer__contacts

  &__contacts {
    margin-right: 261px;

    @media (max-width: $lg) {
      margin-right: 150px;
    }

    @media (max-width: $sm) {
      margin: 0 0 16px;
    }
  }

  // .footer__contacts-item

  &__contacts-item {
  }

  // .footer__contacts-link

  &__contacts-link {
    color: #fff;
    font-size: 20px;
    font-weight: 400;

    b {
      font-weight: 700;
      font-style: inherit;
      font-family: inherit;
    }
  }

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
  }

  // .footer__socials-item

  &__socials-item {
    width: 39px;
    height: 39px;

    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 27px;
    }
  }

  // .footer__socials-link

  &__socials-link {
    img {
      width: 39px;
    }
  }
}
