<div class="r-pagination">
  <div class="r-pagination__inner">
    <button class="r-pagination__btn r-pagination__btn--prev r-btn">
      <span class="r-pagination__btn-text">предыдущая</span>
      <svg class="r-pagination__btn-icon s-icon">
        <use xlink:href="img/svg/sprite1.svg#arrow-big-left" />
      </svg>
    </button>
    <ul class="r-pagination__list list-reset">
      <li class="r-pagination__item active">
        <a class="r-pagination__link" href="#">1</a>
      </li>
      <li class="r-pagination__item">
        <a class="r-pagination__link" href="#">2</a>
      </li>
      <li class="r-pagination__item">
        <a class="r-pagination__link" href="#">3</a>
      </li>
      <li class="r-pagination__item">
        <a class="r-pagination__link" href="#">4</a>
      </li>
      <li class="r-pagination__item">
        <a class="r-pagination__link" href="#">5</a>
      </li>

      <li class="r-pagination__item">
        <span class="r-pagination__dots">...</span>
      </li>
    </ul>
    <button class="r-pagination__btn r-pagination__btn--next r-btn">
      <span class="r-pagination__btn-text">следующая</span>
      <svg class="r-pagination__btn-icon s-icon">
        <use xlink:href="img/svg/sprite1.svg#arrow-big-right" />
      </svg>
    </button>
  </div>
</div>
