<div class="btn-scroll-top">
  <button
    class="btn-scroll-top__control r-btn-circle r-btn-circle--solid js-scroll-to-top"
    type="button"
  >
    <svg class="s-icon">
      <use xlink:href="img/svg/sprite1.svg#arrow-left"></use>
    </svg>
  </button>
</div>
