<div class="form-join js-form-support">
  <div class="form-join__overlay overlay js-form-support-close"></div>
  <div class="form-join__wrapper form-join__wrapper--short">
    <div
      class="form-join__inner form-join__inner--short"
      style="--max-width: 495px"
    >
      <button
        class="form-join__close r-btn js-form-support-close"
        type="button"
      >
        <svg class="s-icon">
          <use xlink:href="img/svg/sprite1.svg#close-icon" />
        </svg>
      </button>
      <div class="form-join__header form-block__header">
        <div class="form-block__title">Поддержите нас</div>
      </div>
      <div class="form-join__support">
        Сбербанк: 4276 3801 2076 3441
        <br />
        <br />
        Тинькофф: 5536 9139 4999 6173
        <br />
        <br />
        Альфа-Банк: 5559 4937 1814 9827
        <br />
        <br />
        BTC 1HJBCH4AM5sqdiitgGmYzm5mzz5NKz38WY
        <br />
        <br />
        <a href="https://streamlabs.com/yuneman/tip" target="_blank"
          >StreamLabs →</a
        >
        <br />
        <br />
        Оформить регулярное пожертвование можно на сервисе
        <a href="https://www.subscribestar.com/yuneman" target="_blank"
          >SubscribeStar</a
        >. Или через настройку автоплатежа в
        <a href="https://teletype.in/@yuneman/pVa2ULRvy" target="_blank"
          >Сбере</a
        >. Если у вас возникли вопросы — свяжитесь с нами в
        <a href="https://t.me/ob_community" target="_blank">телеграм</a>
      </div>
    </div>
  </div>
</div>
