<div class="form-join js-form-support">
  <div class="form-join__overlay overlay js-form-support-close"></div>
  <div class="form-join__wrapper form-join__wrapper--short">
    <div
      class="form-join__inner form-join__inner--short"
      style="--max-width: 495px"
    >
      <button
        class="form-join__close r-btn js-form-support-close"
        type="button"
      >
        <svg class="s-icon">
          <use xlink:href="img/svg/sprite1.svg#close-icon" />
        </svg>
      </button>
      <div class="form-join__header form-block__header">
        <div class="form-block__title">Поддержите нас</div>
      </div>
      <div class="form-join__support">
        Сбербанк: 4279 3806 3433 6806
        <br />
        <br />
        Райффайзен банк: 2200 3005 1208 5687
        <br />
        <br />
        (Получатель: Анастасия Р.)
      </div>
    </div>
  </div>
</div>
