<div class="search-modal js-searchbar">
  <div class="search-modal__overlay overlay js-searchbar-close"></div>
  <div class="search-modal__inner">
    <div class="search-modal__control r-searchbar">
      <label class="r-searchbar__label sr-only">Поиск</label>
      <input
        class="r-searchbar__input js-searchbar__input"
        type="text"
        placeholder="Поиск"
      />
      <button class="r-searchbar__btn r-btn">
        <svg class="r-searchbar__icon s-icon">
          <use xlink:href="img/svg/sprite1.svg#searchbar-icon" />
        </svg>
      </button>
    </div>
    <button class="search-modal__btn r-btn js-searchbar-close">
      <svg class="s-icon">
        <use xlink:href="img/svg/sprite1.svg#close-icon" />
      </svg>
    </button>
  </div>
</div>
