<div class="reforms">
  <div class="container">
    <div class="reforms__inner js-show-constitution__container">
      <h1 class="reforms__title heading-1">Выборы</h1>

      <div class="reforms__group">
        <div class="reforms__row">
          <div class="reforms__image">
            <img src="img/elections/1.jpg" alt="" width="568" height="320" />
          </div>
        </div>
      </div>

      <div class="reforms__group">
        <div class="reforms__text reforms__text--md">
          <p>
            У Общества.Будущее большой опыт участия в выборах на муниципальном,
            региональном и федеральном уровне.

            <br />
            <br />

            Выборы сейчас — это одна из последних возможностей легально
            участвовать в российской политике. Власть активно задействует
            административный ресурс, пытаясь не дать независимым кандидатам
            занять выборные должности, а с введением электронного голосования
            побеждать стало ещё тяжелее. Но сдаваться нельзя: побеждать на
            выборах всё ещё реально, и даже в такие времена мы сумели обеспечить
            победу 4 наших кандидатов. 
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <div
          class="reforms__big-slider big-slider swiper-container js-big-slider"
        >
          <div class="swiper-wrapper">
            <div class="big-slider__slide swiper-slide">
              <iframe
                width="614"
                loading="lazy"
                height="346"
                src="https://www.youtube.com/embed/audo9hqmMHk?si=v_7RB4s3EWxftYei&enablejsapi=1"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <div class="big-slider__slide swiper-slide swiper-slide-active">
              <iframe
                width="614"
                loading="lazy"
                height="346"
                src="https://www.youtube.com/embed/Nmmw6-CSR_0?si=zcir-Qhb8Yffv2vG&enablejsapi=1"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <div class="big-slider__slide swiper-slide">
              <iframe
                width="614"
                loading="lazy"
                height="346"
                src="https://www.youtube.com/embed/aGyfjfkrHVk?si=FC_Gluv1AVYNdgQK&enablejsapi=1"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Add Arrows -->
          <div
            class="big-slider__btn big-slider__btn--prev r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-left" />
            </svg>
          </div>
          <div
            class="big-slider__btn big-slider__btn--next r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-right" />
            </svg>
          </div>
        </div>
      </div>

      <div class="reforms__group">
        <div class="reforms__text reforms__text--md">
          <p>
            Мы участвовали в разных избирательных кампаниях: от районных выборов
            в малых городах до выборов в Госдуму в Москве. Иногда нам попадались
            округа всего с парой тысяч избирателей, иногда их было полмиллиона.

            <br />
            <br />

            Мы научились создавать избирательные машины, способные собирать по
            24 тысячи подписей, получать 60 тысяч голосов и одновременно вести
            кампании 50 кандидатов. Всего за нас проголосовали ЧИСЛО избирателей
            в ЧИСЛО регионов от ГОРОД до ГОРОД.

            <br />
            <br />
            Выборы — это важно, особенно сейчас. Если вы хотите избираться в
            своём городе — присоединяйтесь к нам.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <div class="reforms__double-image-row">
          <div class="reforms__double-image">
            <img src="img/elections/2.jpg" alt="" width="568" height="320" />
          </div>
          <div class="reforms__double-image">
            <img src="img/elections/3.jpg" alt="" width="568" height="320" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
