<div class="reforms">
  <div class="container">
    <div class="reforms__inner">
      <h1 class="reforms__title heading-1">Гуманитарная помощь</h1>

      <div class="reforms__group reforms__group--mb-md">
        <ol class="reforms__list">
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#donbas">Согрей Донбасс</a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#kit">Народная аптечка</a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#medicines">Медикаменты</a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#help">Помощь беженцам</a>
          </li>
        </ol>
      </div>

      <div class="reforms__group" id="donbas">
        <h2 class="reforms__suptitle heading-2">Согрей Донбасс</h2>

        <div class="reforms__text">
          <p>
            Проект «Согрей Донбасс» — это самая масштабная гуманитарная миссия
            по спасению Донбасса от холодов. <br />
            В период с октября по март нам удалось привезти в Мариуполь,
            Северодонецк — и ещё немного в Волноваху и на север Донецка — больше
            30 тысяч конвекторных обогревателей, больше 35 тысяч обогревателей +
            10 тысяч одеял. Так мы обеспечили теплом больше 100 тысяч людей.
            Никто, включая государство, даже близко не сделал чего-то
            сопоставимого по масштабу.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <div
          class="reforms__free-slider free-slider swiper-container js-free-slider"
        >
          <div class="swiper-wrapper">
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-1.jpg" width="420" alt="" />
            </div>
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-2.jpg" alt="" />
            </div>
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-3.jpg" alt="" />
            </div>
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-4.jpg" alt="" />
            </div>
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-1.jpg" width="420" alt="" />
            </div>
          </div>
          <!-- Add Arrows -->
          <div
            class="free-slider__btn free-slider__btn--prev r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-left" />
            </svg>
          </div>
          <div
            class="free-slider__btn free-slider__btn--next r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-right" />
            </svg>
          </div>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-md">
        <div class="reforms__text">
          <p>
            За всё это время мы получили почти 190 тысяч сообщений в бот, из
            которых сформировали чуть больше 42 тысяч индивидуальных заявок.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-xlg" id="kit">
        <h2 class="reforms__suptitle heading-2">Народная аптечка</h2>

        <div class="reforms__text reforms__text--md">
          <p>
            Народная аптечка (народнаяаптечка.рф) — проект сооснователя
            Общества.Будущее Данила Махницкого. Цель проекта — обеспечить
            мобилизованных средствами первой медицинской помощи, которых им не
            хватает. После сбора пожертвований и закупки медикаментов аптечки
            упаковываются в удобном формате. Каждая такая аптечка — это чья-то
            спасённая жизнь: на фронте или в обстреливаемом городе.
            <br />
            <br />
            За время существования проекта у нас работали 36 волонтёров, которые
            собрали больше 3150 аптечек!
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full reforms__group--mb-md">
        <div
          class="reforms__free-slider free-slider swiper-container js-free-slider"
        >
          <div class="swiper-wrapper">
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-5.jpg" width="420" alt="" />
            </div>
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-6.jpg" alt="" />
            </div>
            <div class="free-slider__slide swiper-slide">
              <img src="img/gum/free-7.jpg" alt="" />
            </div>
          </div>
          <!-- Add Arrows -->
          <div
            class="free-slider__btn free-slider__btn--prev r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-left" />
            </svg>
          </div>
          <div
            class="free-slider__btn free-slider__btn--next r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-right" />
            </svg>
          </div>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-md" id="medicines">
        <h2 class="reforms__suptitle heading-2">
          Поставляем медикаменты — спасаем жизнь
        </h2>

        <div class="reforms__text reforms__text--md">
          <p>
            Мы стали заниматься медикаментами для жителей Донбасса и беженцев
            ещё весной 2022 года.
            <br />
            С середины апреля 2022 мы были единственной организацией, которая
            централизованно распространяла лекарства в Херсоне. За это время мы
            успели отгрузить четыре полных микроавтобуса — 18 тысяч упаковок
            жизненно необходимых лекарств. За помощью к нам обратились 5 тысяч
            человек, для которых миссия ОБ была единственной возможностью
            получить нужные препараты.
            <br />
            Затем мы направили необходимые медикаменты в больницу Калинина и
            Институт хирургии им. Гусака в Донецке.
            <br />
            Позднее мы собрали более 4 миллионов рублей и смогли закупить больше
            80 разных позиций медикаментов и расходников для раненых в
            донбасских госпиталях.
          </p>
        </div>
      </div>

      <div class="reforms__group" id="help">
        <h2 class="reforms__suptitle heading-2">Помощь беженцам</h2>

        <div class="reforms__text reforms__text--md">
          <p>
            ОБ.Помощь — проект адресной гуманитарной помощи людям, пострадавшим
            из-за военного конфликта. Они потеряли близких и друзей, потеряли
            свои дома и привычный образ жизни. Мы оперативно организовали поиск
            информации об эвакуированных, запустили сбор средств для них и
            наладили доставку самых простых, но необходимых вещей.
            Общество.Будущее оказало помощь людям в 18 регионах России.

            <br />
            <br />

            Подробно почитать о проекте и помочь можно по ссылке на сайт
            <a target="_blank" href="https://ob-help.ru/"><b>ОБ.Помощь</b></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
