<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo logo" href="main.html">
        <img class="logo__img" src="img/logo.svg" alt="" />
      </a>
      <div class="header__controls">
        <div class="header__controls-row">
          <div class="header__controls-title">политическое движение</div>
        </div>
        <div class="header__controls-row">
          <button
            class="header__controls-btn r-btn r-btn--solid js-open-form-join"
          >
            <span class="r-btn__text">присоединиться</span>
          </button>
          <button
            class="header__controls-btn r-btn r-btn--solid js-open-form-support"
          >
            <span class="r-btn__text">поддержать</span>
          </button>
        </div>
      </div>
      <!-- <div class="header__search">
        <button class="r-btn-circle r-btn-circle--solid js-open-searchbar">
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#search-icon" />
          </svg>
        </button>
      </div> -->
    </div>
    <div class="header__bottom">
      <p class="header__bottom-text">
        Наша цель — создание образа будущего России и его реализация с помощью
        политических и общественных инструментов.
      </p>
    </div>
  </div>
</header>
