<div class="main-menu">
  <div class="container">
    <div class="main-menu__inner">
      <ul class="main-menu__list list-reset">
        <li class="main-menu__item">
          <a
            class="main-menu__link r-btn r-btn--outlined r-btn--rounded active"
            href="#"
          >
            Меморандум
          </a>
        </li>
        <li class="main-menu__item">
          <a
            class="main-menu__link r-btn r-btn--outlined r-btn--rounded"
            href="#"
          >
            Разработка реформ
          </a>
        </li>
        <li class="main-menu__item">
          <a
            class="main-menu__link r-btn r-btn--outlined r-btn--rounded"
            href="#"
          >
            Выборы
          </a>
        </li>
        <li class="main-menu__item">
          <a
            class="main-menu__link r-btn r-btn--outlined r-btn--rounded"
            href="#"
            >Гуманитарная помощь</a
          >
        </li>
        <li class="main-menu__item">
          <a
            class="main-menu__link r-btn r-btn--outlined r-btn--rounded"
            href="#"
            >Регионы</a
          >
        </li>
        <li class="main-menu__item">
          <a
            class="main-menu__link r-btn r-btn--outlined r-btn--rounded"
            href="#"
            >Общественные проекты</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
