<div class="memorandum">
  <div class="container">
    <div class="memorandum__inner">
      <h1 class="memorandum__title heading-1">Манифест</h1>

      <div class="memorandum__text">
        <p>
          <b>Общество.Будущее — политическое движение.</b> <br />
          Наша цель — построение сильной и свободной России. <br />
          Мы стремимся создать государство, в котором соблюдаются гражданские
          права и свободы, в котором люди живут в достатке и которое способно
          обеспечить интеллектуальное, научное и культурное развитие нашего
          народа. Мы следуем принципу «Государство для граждан, а не граждане
          для государства». Мы находимся в оппозиции к нынешней власти и
          поддерживаем демократическое движение в требованиях о прекращении
          политических репрессий и обеспечении гражданских свобод.
        </p>
        <p>
          Мы готовы участвовать в совместной политической борьбе и блокироваться
          с оппозиционным движением до момента реализации требований о
          проведении в России честных и конкурентных выборов. В то же время мы
          не можем согласиться с большинством лидеров оппозиции по ряду
          принципиальных идеологических вопросов. Поэтому на современном
          политическом поле России мы определяем себя «третьей силой».
        </p>
        <p>
          Общество.Будущее начиналось как интеллектуальный аналитический центр,
          призванный описать привлекательный образ будущей России. Создание
          контуров «России мечты», разработка программы реформ — и сейчас важная
          часть нашей работы.
        </p>
        <p>
          Но наша главная тактическая задача — победа на выборах. Бороться за
          власть нужно здесь и сейчас. Поэтому мы будем выдвигать своих
          представителей в муниципальные, региональные и федеральные органы
          власти. Мы идём в политику, чтобы побеждать.
        </p>
      </div>
    </div>
    <div class="memorandum__points">
      <h2 class="memorandum__points-title heading-1">Меморандум</h2>
      <ul class="memorandum__points-list list-points list-reset">
        <li class="list-points__item">
          <h3 class="list-points__title">1 Права и свободы</h3>
          <div class="list-points__text">
            <p>
              Развитие страны и общества невозможно без обеспечения базовых
              гражданских прав: свободы слова, совести, собраний, ассоциаций,
              свободы избирать представителей в органы власти и быть избранным
              самому, равенства всех граждан перед законом, а также
              неприкосновенности частной жизни и семейной тайны. Обеспечить
              защиту этих прав и свобод — важнейшая задача государства и
              гражданского общества.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">2 Демократические институты</h3>
          <div class="list-points__text">
            <p>
              Для процветания России необходимо построение прочных
              демократических политических институтов и создание сложной системы
              сдержек и противовесов. Разделение властей, сильное местное
              самоуправление, честные и конкурентные выборы, независимые СМИ —
              всё это ключевые факторы для экономического и культурного развития
              нации.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">3 Историческая преемственность</h3>
          <div class="list-points__text">
            <p>
              Российская Федерация является продолжателем СССР и наследует все
              основные институциональные проблемы советского государства. СССР,
              в свою очередь, не являлся правопреемником Российской Империи.
              Наша политическая задача — восстановить государственную
              преемственность от исторической России, вместе с этим — её статус
              передовой европейской державы.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">4 Национальный вопрос</h3>
          <div class="list-points__text">
            <p>
              Мы сторонники гражданского понимания нации. Русские — это люди
              русской культуры, говорящие на русском языке, определяющие себя
              как русских и связывающие с нацией своё будущее. Защита русских и
              русской культуры должна стать важнейшей задачей государства.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">5 Социальная политика</h3>
          <div class="list-points__text">
            <p>
              Мы выступаем за значительное сокращение доли государства в
              экономике. Однако мы не считаем, что нужно полностью отказываться
              от концепции социального государства, а тем более — от государства
              как такового.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">6 Свободный рынок</h3>
          <div class="list-points__text">
            <p>
              Частная инициатива и конкуренция — основа сильной и устойчивой
              экономики, это важнейшие факторы для привлечения инвестиций,
              технологического прогресса и роста производительности труда. В
              России должны быть созданы все условия для развития свободного и
              конкурентного рынка, а частная собственность должна быть надёжно
              защищена.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">7 Церковь и религия</h3>
          <div class="list-points__text">
            <p>
              Мы считаем, что Россия должна быть светским государством, в
              котором соблюдаются принципы свободы совести и вероисповедания.
              Одновременно с этим мы признаём уникальную роль православия в
              становлении страны и русского народа.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">8 Репатриация</h3>
          <div class="list-points__text">
            <p>
              Русские — крупнейший разделённый народ Европы. После распада СССР
              миллионы людей были оставлены за пределами страны, которую они
              считали и продолжают считать своей Родиной. Существующая система
              не помогает им вернуться домой. Одной из важнейших задач
              российского государства мы считаем возвращение наших
              соотечественников на Родину.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">9 Армия</h3>
          <div class="list-points__text">
            <p>
              Армия и флот — были, есть и остаются главными союзниками России.
              Наша страна не может позволить себе иметь слабые вооружённые силы.
              Но сильная армия — профессиональная армия. Обеспечивать
              обороноспособность страны должны высококвалифицированные и хорошо
              оплачиваемые специалисты исключительно на добровольной основе.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">10 Миграция</h3>
          <div class="list-points__text">
            <p>
              Массовая миграция усугубляет коррупцию и порождает проблему
              этнической преступности. Решить проблему может только жёсткое
              ограничение потока привлекаемой низкоквалифицированной рабочей
              силы, в том числе введение визового режима со странами Средней
              Азии и Закавказья. Правительство России должно вести строгий учёт
              мигрантов, а миграционная политика должна ориентироваться на
              привлечение высококвалифицированных специалистов.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">11 Внешняя политика</h3>
          <div class="list-points__text">
            <p>
              Россия должна твёрдо отстаивать свои интересы на международной
              арене. Но добиваться своих целей в наше время следует в первую
              очередь не военными методами, а используя инструменты
              дипломатической, экономической и культурной политики — применяя
              «мягкую силу» и создавая привлекательный образ сильной, свободной,
              богатой и прогрессивной страны.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">12 Крым</h3>
          <div class="list-points__text">
            <p>
              В 2014 году крымчане сделали осознанный выбор в пользу
              присоединения полуострова к России. Несмотря на международное
              давление, вопрос статуса полуострова должен быть снят с повестки
              дня. Крым — это Россия. Был, есть и будет.
            </p>
          </div>
        </li>
        <li class="list-points__item">
          <h3 class="list-points__title">13 Европейский путь</h3>
          <div class="list-points__text">
            <p>
              Россия — европейская страна. Наибольшего могущества она достигла в
              те годы, когда была органичной частью европейского культурного
              пространства. В то же время мы считаем, что Запад XXI века поражён
              внутренним кризисом и сегодня уже не может служить абсолютным
              эталоном в области культуры и политики, а вступление в такие
              надгосударственные структуры, как НАТО и ЕС, для нашей страны
              исключено.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="memorandum__inner">
      <div class="memorandum__row">
        <a
          class="memorandum__btn r-btn r-btn--solid"
          href="https://t.me/ob_community/753"
          target="_blank"
        >
          <span>Позиция по СВО</span>
        </a>
      </div>
      <div class="memorandum__suptitle heading-2">Устав организации</div>
      <div class="memorandum__row">
        <a
          class="memorandum__btn r-btn r-btn--solid r-btn--icon"
          href="./assets/chart.pdf"
          download=""
        >
          <span>Скачать устав</span>
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#download-icon" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
