<div class="news-slider" style="display: block">
  <div class="container">
    <h2 class="news-slider__title heading-1">Новости</h2>
    <div class="news-slider__inner">
      <div class="news-slider__slider swiper-container js-news-slider">
        <div class="swiper-wrapper">
          <div class="news-slider__slide swiper-slide">
            <div class="news-card">
              <div class="news-card__image">
                <img src="img/news/1.jpg" alt="" />
              </div>
              <div class="news-card__content">
                <div class="news-card__title">Сбор на лекарства завершен</div>
                <div class="news-card__text">
                  <p>Текст описания новости в пару-тройку строчек</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-slider__slide swiper-slide">
            <div class="news-card">
              <div class="news-card__image">
                <img src="img/news/2.jpg" alt="" />
              </div>
              <div class="news-card__content">
                <div class="news-card__title">
                  Встреча в книжной лавке “Листве”
                </div>
                <div class="news-card__text">
                  <p>Текст описания новости в пару-тройку строчек</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-slider__slide swiper-slide">
            <div class="news-card">
              <div class="news-card__image">
                <img src="img/news/3.jpg" alt="" />
              </div>
              <div class="news-card__content">
                <div class="news-card__title">Сбор на лекарства завершен</div>
                <div class="news-card__text">
                  <p>Текст описания новости в пару-тройку строчек</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-slider__slide swiper-slide">
            <div class="news-card">
              <div class="news-card__image">
                <img src="img/news/4.jpg" alt="" />
              </div>
              <div class="news-card__content">
                <div class="news-card__title">Текст новости в две строчки</div>
                <div class="news-card__text">
                  <p>Текст описания новости в пару-тройку строчек</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-slider__slide swiper-slide">
            <div class="news-card">
              <div class="news-card__image">
                <img src="img/news/5.jpg" alt="" />
              </div>
              <div class="news-card__content">
                <div class="news-card__title">
                  Битцевский леси какая-то новостьпро него
                </div>
                <div class="news-card__text">
                  <p>Текст описания новости в пару-тройку строчек</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-slider__slide swiper-slide">
            <div class="news-card">
              <div class="news-card__image">
                <img src="img/news/5.jpg" alt="" />
              </div>
              <div class="news-card__content">
                <div class="news-card__title">
                  Битцевский леси какая-то новостьпро него
                </div>
                <div class="news-card__text">
                  <p>Текст описания новости в пару-тройку строчек</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div
          class="news-slider__btn news-slider__btn--prev r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left" />
          </svg>
        </div>
        <div
          class="news-slider__btn news-slider__btn--next r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
