<div class="reforms">
  <div class="container">
    <div class="reforms__inner">
      <h1 class="reforms__title heading-1">Общественные проекты</h1>

      <div
        class="reforms__group reforms__group--full regions__projects-mobile regions__projects-mobile--show-desktop"
      >
        <div
          class="regions__projects-slider swiper-container js-regions-slider"
        >
          <div class="swiper-wrapper">
            <div class="regions__projects-slide swiper-slide">
              <a class="project-card" href="moscow-forest.html">
                <div class="project-card__image">
                  <img src="img/public-projects/1.jpg" alt="" />
                </div>
                <div class="project-card__link r-btn r-btn--solid">
                  Битцевский лес
                </div>
              </a>
            </div>
            <div class="regions__projects-slide swiper-slide">
              <a class="project-card" href="gum-help.html">
                <div class="project-card__image">
                  <img src="img/public-projects/2.jpg" alt="" />
                </div>
                <div class="project-card__link r-btn r-btn--solid">
                  Согрей Донбас
                </div>
              </a>
            </div>
            <div class="regions__projects-slide swiper-slide">
              <a class="project-card" href="gum-help2.html">
                <div class="project-card__image">
                  <img src="img/public-projects/3.jpg" alt="" />
                </div>
                <div class="project-card__link r-btn r-btn--solid">
                  Народная аптечка
                </div>
              </a>
            </div>
            <div class="regions__projects-slide swiper-slide">
              <a class="project-card" href="ekb-park.html">
                <div class="project-card__image">
                  <img src="img/public-projects/4.jpg" alt="" />
                </div>
                <div class="project-card__link r-btn r-btn--solid">
                  Малаховский парк
                </div>
              </a>
            </div>
          </div>
          <!-- Add Arrows -->
          <div
            class="regions__slider-btn regions__slider-btn--prev r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-left" />
            </svg>
          </div>
          <div
            class="regions__slider-btn regions__slider-btn--next r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-right" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
