<div class="reforms">
  <div class="container">
    <div class="reforms__inner">
      <h1 class="reforms__title heading-1">Реформы</h1>

      <ul class="reforms__menu list-reset">
        <li class="reforms__item">
          <a href="reforms.html">Конституция</a>
        </li>
        <li class="reforms__item active">
          <a href="reforms-second-page.html">Экономическая реформа</a>
        </li>
        <li class="reforms__item">
          <a href="reforms-third-page.html">Дистанционное голосование</a>
        </li>
      </ul>

      <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">
          Оглавление экономической реформы
        </h2>
        <ol class="reforms__list">
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#makeRich"
              >Сделать русских богатыми</a
            >
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#problem"
              >Постановка проблемы</a
            >
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#social">
              Социальные эффекты программы
            </a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#steps">
              Пять шагов к новой экономике России
            </a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#resume">Доклад</a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#experts">Наши эксперты</a>
          </li>
          <li class="reforms__list-item">
            <a class="reforms__list-link" href="#video">Видео</a>
          </li>
        </ol>
      </div>

      <div class="reforms__group reforms__group--mb-md" id="makeRich">
        <h2 class="reforms__suptitle heading-2">Сделать русских богатыми</h2>
        <div class="reforms__text reforms__text--md">
          <p>
            Общество.Будущее разработало программу экономического роста для
            России. Программа отвечает на простой вопрос: как сделать наш народ
            богаче? Доклад состоит из анализа текущего положения и пакета
            реформ, которые мы предлагаем к внедрению. Все рекомендации имеют
            подробные математические и статистические обоснования, расчёт
            стоимости внедрения, а также прогнозы, основанные на конкретных
            показателях.

            <br />
            <br />

            Никакого популизма — мы предлагаем рецепты по принципу «можно
            внедрять уже завтра».

            <br />
            <br />

            Проект реформы готовится при участии экспертов из консалтинга,
            научной сферы, финансовой отрасли и бизнеса.
          </p>
        </div>
      </div>
      <div class="reforms__group reforms__group--mb-md" id="problem">
        <h2 class="reforms__suptitle heading-2">В чем проблема</h2>
        <div class="reforms__text reforms__text--md">
          <p>
            Современная Россия отстаёт в экономическом развитии не только от
            мировых лидеров, но и от стран второго мира. Последние 7 лет наша
            экономика растёт темпами ниже среднемировых, а уровень жизни людей
            остановился на отметке 2013 года.

            <br />
            <br />

            В нулевые годы экономика России росла за счёт роста цен на нефть и
            удачных реформ. Но этот ресурс роста закончился: мировой спрос на
            углеводороды будет только падать, российские доходы от её экспорта
            существенно снизятся.
            <b>
              Нефтегазовый сектор останется важной отраслью российской
              экономики, но больше не может быть основной для её роста.
            </b>

            <br />
            <br />

            Экономическое отставание означает, что из России будут и дальше
            уезжать молодые и активные, а наша страна будет всё больше отставать
            в науке, технологиях, культуре. Разрыв в уровне жизни между Россией
            и успешными странами будет увеличиваться.

            <br />
            <br />
            Общество.Будущее предлагает новую экономическую модель России, в
            основе которой будет лежать развитие по трём ключевым направлениям:
          </p>
          <ul>
            <li>развитие высокотехнологичного экспорта;</li>
            <li>развитие экспорта перспективных товаров;</li>
            <li>локализация производств.</li>
          </ul>
        </div>
      </div>
      <div
        class="reforms__group reforms__group--full reforms__group--mb-md"
        id="social"
      >
        <h2 class="reforms__suptitle heading-2">
          Социальные эффекты программы
        </h2>

        <ul class="reforms__facts facts-list facts-list--grid list-reset">
          <li class="facts-list__item">
            <div class="facts-list__title"><span>х2</span></div>
            <div class="facts-list__text">
              <p>двукратный рост зарплат врачей и медперсонала</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>х3</span></div>
            <div class="facts-list__text">
              <p>трёхкратный рост зарплат учителей</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>х2.5</span></div>
            <div class="facts-list__text">
              <p>увеличение пенсий в два с половиной разаа</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>30 000</span></div>
            <div class="facts-list__text">
              <p>километров новых автомобильных дорог</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>30 000</span></div>
            <div class="facts-list__text">
              <p>километров скоростных жд-магистралей</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>10</span></div>
            <div class="facts-list__text">
              <p>новых крупных портов</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>600</span></div>
            <div class="facts-list__text">
              <p>километров метро</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>30 000</span></div>
            <div class="facts-list__text">
              <p>новых автобусов</p>
            </div>
          </li>
          <li class="facts-list__item">
            <div class="facts-list__title"><span>40</span></div>
            <div class="facts-list__text">
              <p>новых парков</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="reforms__group reforms__group--mb-md" id="steps">
        <h2 class="reforms__suptitle heading-2">
          Пять шагов к новой экономике России
        </h2>
        <div class="reforms__text reforms__text--md">
          <ol>
            <li>
              <b>Защита прав собственности</b>
              <ul>
                <li>судебная реформа</li>
                <li>реформа силовых структур</li>
                <li>реформа госуправления</li>
                <li>
                  гуманизация законодательства по «предпринимательским» статьям
                </li>
              </ul>
            </li>

            <br />

            <li>
              <b>Дерегулирование и снятие барьеров для бизнеса</b>
              <ul>
                <li>реформа таможни</li>
                <li>матричное регулирование таможенных тарифов</li>
                <li>отмена валютного контроля</li>
                <li>«регуляторная гильотина»</li>
                <li>введение правила «one in — one out»</li>
              </ul>
            </li>

            <br />

            <li>
              <b>Демонополизация рынков</b>
              <ul>
                <li>
                  акционирование ряда госкомпаний (кроме естественных монополий)
                </li>
                <li>разделение ряда госкомпаний</li>
              </ul>
            </li>

            <br />

            <li>
              <b>Повышение эффективности государственных расходов</b>
              <ul>
                <li>перераспределение бюджетных трат</li>
                <li>реструктуризация ФНБ</li>
                <li>
                  распределение налоговых доходов в пользу муниципалитетов
                </li>
                <li>
                  увеличение доли формульных трансфертов/сокращение доли ручных
                </li>
              </ul>
            </li>

            <br />

            <li>
              <b>Государственное стимулирование роста</b>
              <ul>
                <li>налоговые каникулы для экспортёров и инвесторов</li>
                <li>
                  субсидирование кредитных ставок на инвестиции по целевым
                  продуктам/отраслям
                </li>
                <li>
                  покрытие сопутствующих непрямых издержек для экспортёров и
                  инвесторов
                </li>
                <li>запуск масштабных программ переобучения кадров.</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <div class="reforms__group reforms__group--full" id="resume">
        <h2 class="reforms__suptitle reforms__suptitle--m-sm heading-2">
          Доклад общества будущее
        </h2>

        <div
          class="reforms__constitution-slider constitution-slider swiper-container js-constitution-slider"
        >
          <div class="swiper-wrapper">
            {% for item in range(1, 10) %}
            <div class="constitution-slider__slide swiper-slide">
              <img
                src="img/reforms/report2/economics-report_page-000{{
                  item
                }}.jpg"
                alt=""
              />
            </div>
            {% endfor %}
            <!--  -->
            {% for item in range(10 , 100) %}
            <div class="constitution-slider__slide swiper-slide">
              <img
                src="img/reforms/report2/economics-report_page-00{{ item }}.jpg"
                alt=""
              />
            </div>
            {% endfor %}
            <div class="constitution-slider__slide swiper-slide">
              <img
                src="img/reforms/report2/economics-report_page-0100.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- Add Arrows -->
          <div
            class="constitution-slider__btn constitution-slider__btn--prev r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-left" />
            </svg>
          </div>
          <div
            class="constitution-slider__btn constitution-slider__btn--next r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-right" />
            </svg>
          </div>
          <!-- Pagination -->
          <div class="constitution-slider__pagination swiper-pagination"></div>
        </div>
      </div>
      <div class="reforms__group reforms__group--full" id="experts">
        <h2 class="reforms__suptitle heading-2">Наши эксперты</h2>
        <div class="reforms__text">
          <p>
            Команду проекта консультировали эксперты из разных областей экномики
          </p>
        </div>
        <div
          class="reforms__people r-people list-reset js-people-slider swiper-container"
        >
          <div class="r-people__wrapper swiper-wrapper">
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/1.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Григорий Баженов</div>
                <div class="r-people__text">
                  <p>
                    Кандидат экономических наук, Руководитель аналитического
                    центра «Независимого топливного союза»
                  </p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/2.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Василий Тополев</div>
                <div class="r-people__text">
                  <p>Публицист, экономист</p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/3.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Александр Нестеров</div>
                <div class="r-people__text">
                  <p>
                    PhD Берлинского университета им. Гумбольдта, доцент
                    <br />НИУ ВШЭ
                  </p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/4.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Алексей Савватеев</div>
                <div class="r-people__text">
                  <p>
                    Доктор физико-математических наук, эксперт в области
                    математической экономики и образования
                  </p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/5.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Егор Жевленев</div>
                <div class="r-people__text">
                  <p>Экономист, эксперт<br />в оценке программ</p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/6.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Иван Станкевич</div>
                <div class="r-people__text">
                  <p>Экономист, специалист в сфере дата-консалтинга</p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/7.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Александр Верещагин</div>
                <div class="r-people__text">
                  <p>
                    Доктор права университета Эссекса, эксперт по работе
                    судебной системы
                  </p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/8.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Матвей Цзен</div>
                <div class="r-people__text">
                  <p>Адвокат</p>
                </div>
              </div>
            </div>
            <div class="r-people__item swiper-slide">
              <div class="r-people__image">
                <img src="img/people/9.png" alt="" />
              </div>
              <div class="r-people__content">
                <div class="r-people__title">Анонимный эксперт</div>
                <div class="r-people__text">
                  <p>
                    Бывший сотрудник одного из крупнейших министерств России
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div
            class="r-people__btn r-people__btn--prev r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-left" />
            </svg>
          </div>
          <div
            class="r-people__btn r-people__btn--next r-btn-circle r-btn-circle--solid"
          >
            <svg class="s-icon">
              <use xlink:href="img/svg/sprite1.svg#arrow-right" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="reforms__our-videos" id="video">
      <h2 class="reforms__our-videos-title heading-2">Наши видео</h2>
      <div class="reforms__our-videos-text">
        В этих видео Роман Юнеман рассказывает о нюансах работы над проектом
        экономической реформы
      </div>
      <div
        class="reforms__big-slider big-slider swiper-container js-big-slider"
      >
        <div class="swiper-wrapper">
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/b6ZL28sN-0s?si=qfK-Olfc5hCJOfv4&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/htvmAaU5B0w?si=p-Ip_ETtp2RyQuCH&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/vlNOopwt7EM?si=zgR6LvMudUqhPExq&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/BqRG9sSEN34?si=nWGVelSTtpgXICIQ&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/k5DfChR9bpQ?si=mF5lGZw6Xpm3HsoF&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/D1knxKboFlc?si=KHvmb24kB2G6c-c5&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/vMYlo0113sI?si=qckYDYWLcmt0N261&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/UAs8g_eU6Yc?si=U24vyyDawStO_Opw&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/FZoZ2NsKXcM?si=t0yWiUFHT8WqXUYw&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/dc-mkdnPtN4?si=B6mpMLjsgt8kPtEH&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide">
            <iframe
              loading="lazy"
              src="https://www.youtube.com/embed/PEQn8tXlU5I?si=F26HmwbbhO1kDPJl&enablejsapi=1"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="big-slider__slide swiper-slide"></div>
          <div class="big-slider__slide swiper-slide"></div>
          <div class="big-slider__slide swiper-slide"></div>
        </div>
        <!-- Add Arrows -->
        <div
          class="big-slider__btn big-slider__btn--prev r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left" />
          </svg>
        </div>
        <div
          class="big-slider__btn big-slider__btn--next r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
