<div class="reforms">
  <div class="container">
    <div class="reforms__inner">
      <h1 class="reforms__title heading-1">Реформы</h1>

      <ul class="reforms__menu list-reset">
        <li class="reforms__item">
          <a href="reforms.html">Конституция</a>
        </li>
        <li class="reforms__item">
          <a href="reforms-second-page.html">Экономическая реформа</a>
        </li>
        <li class="reforms__item active">
          <a href="reforms-third-page.html">Дистанционное голосование</a>
        </li>
      </ul>

      <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">
          Электронное голосование. Риски и уязвимости
        </h2>

        <div class="reforms__text">
          <p>
            Использование электронного голосования на выборах — новая жизнь
            административного ресурса.Рассказываем, как проходил эксперимент с
            первым электронным голосованием в России, и какие риски нас ждут в
            будущем. Расследование подготовлено командой экспертов во главе с
            Романом Юнеманом
          </p>
        </div>
        <div class="reforms__row">
          <a
            class="reforms__btn-info r-btn r-btn--solid"
            href="assets/Электронное_голосование_на_выборах.pdf"
            download
          >
            Скачать доклад
          </a>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-md">
        <h2 class="reforms__suptitle reforms__suptitle--m-sm heading-2">
          Что такое дистанционное электронное голосование
        </h2>
        <div class="reforms__text reforms__text--md">
          <p>
            Инициаторами внедрения электронного голосования выступили московские
            власти и глава общественного штаба по наблюдению за выборами в
            Москве, главный редактор «Эха Москвы» Алексей Венедиктов. Идею
            поддержали в ЦИКРФ, после чего Госдума и Мосгордума в спешном
            порядке приняли законопроекты об ЭГ.

            <br />
            <br />

            Эксперимент технически провалился — оборудование не выдержало
            нагрузки, система не функционировала треть времени. Сотрудники мэрии
            Москвы вручную вмешивались в работу системы и останавливали
            блокчейн, а после выборов утекли персональные данные
            избирателей.Помимо технических уязвимостей, система проявила себя
            как механизм, который позволяет использовать административный ресурс
            ещё эффективнее, чем раньше.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-md">
        <h2 class="reforms__suptitle heading-2">
          Электронное голосование решило исход выборов в 30-м округе
        </h2>
        <div class="reforms__text reforms__text--md">
          <p>
            На выборах в Мосгордуму система тестировалась в трёх избирательных
            округах: 1, 10, 30.
            <span class="text-underlined">В 30-м округе</span> за депутатское
            кресло боролись сразу три заметных кандидата: самовыдвиженец Роман
            Юнеман, коммунист Владислав Жуковский и административный кандидат
            Маргарита Русецкая.

            <br />

            Результаты <span class="text-underlined">ЭГ</span> в этом округе
            сыграли решающую роль. На традиционных избирательных участках
            победил Роман Юнеман, но благодаря аномальным результатам
            электронного голосования победила поддержанная мэрией кандидат
            Маргарита Русецкая.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full reforms__group--mb-lg">
        <div class="reforms__row reforms__row--lg-column">
          <div class="reforms__image">
            <img src="img/reforms/image1.png" alt="" width="509" height="285" />
          </div>
          <div class="reforms__image">
            <img src="img/reforms/image2.png" alt="" цццww />
          </div>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-md">
        <div class="reforms__video-text reforms__video-text--md">
          Роман Юнеман о том, зачем вводят систему электронного голосования в
          России и как её используют для привода бюджетников на избирательные
          участки
        </div>
        <div class="reforms__video">
          <iframe
            width="614"
            loading="lazy"
            height="346"
            src="https://www.youtube.com/embed/cbS2M_laYjY?si=Usq_9v7DaKgcT2FJ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="reforms__inner">
      <!-- <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">Где ещё используется ДЭГ?</h2>

        <div class="reforms__text">
          <p>
            В мире уже проходили эксперименты с дистанционным электронным
            голосованием.Почти везде этот механизм был признан рискованным и
            потенциально уязвимым, от его использования отказались даже в США и
            странах Европы, где избирательная система традиционно работает без
            нарушений. Сегодня эта технология применяется только в Эстонии.
          </p>
        </div>
      </div> -->

      <div class="reforms__group reforms__group--mb-lg">
        <h2 class="reforms__suptitle heading-2">Где ещё используется ДЭГ?</h2>

        <div class="reforms__text">
          <p>
            В мире уже проходили эксперименты с дистанционным электронным
            голосованием.Почти везде этот механизм был признан рискованным и
            потенциально уязвимым, от его использования отказались даже в США и
            странах Европы, где избирательная система традиционно работает без
            нарушений. Сегодня эта технология применяется только в Эстонии.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-lg">
        <h2 class="reforms__suptitle heading-2">
          Почему эксперимент в России не удался?
        </h2>

        <div class="reforms__text">
          <p>
            Решение о внедрении ДЭГ было политическим, система создавалась в
            минимальные сроки. Создатели не успели подготовить ни достаточной
            нормативно-правовой базы, ни работающей технической основы.
            Достаточно сказать, что от блокчейна в программе осталось только
            название, а оборудование не выдержало нагрузки в день голосования.
            Необходимого числа тестирований также проведено не было.Сторонние
            эксперты и наблюдатели привлекались к обсуждению формально, их
            замечания были учтены только частично. При этом сама система
            создавалась представителями исполнительной власти, то есть стороной,
            заинтересованной в исходе выборов.Спешка, слабая нормативная база,
            непрозрачность системы и несовершенство российской избирательной
            системы превратили электронное голосование в инструмент
            электоральных махинаций.
          </p>
        </div>
      </div>

      <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">
          Как вводилось электронное голосование?
        </h2>

        <div class="reforms__text">
          <p>
            Первые идеи о проведении дистанционного электронного голосования на
            выборах в Мосгордуму были озвучены в феврале 2019 года. Уже в конце
            мая Госдума приняла федеральный закон об эксперименте, а осуществили
            его 8 сентября.Таким образом, от идеи до реализации проекта прошло
            всего 7 месяцев. Для создания, тестирования и внедрения такого
            сложного программного продукта требуется значительно больше времени.
            Один только этап общественного обсуждения подобного эксперимента в
            других странах длился не менее 1-2 лет.Учитывая специфику российской
            избирательной системы, сама идея внедрения электронного голосования
            выглядела как минимум рискованной. Чтобы обезопасить технологию от
            угрозы фальсификаций, требовалась глубокая проработка процедуры и
            правовой базы. Этого сделано не было. В день голосования сбылись
            худшие прогнозы критиков ДЭГ.
          </p>
        </div>
      </div>

      <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">
          Выбор округов для проведения эксперимента
        </h2>

        <div class="reforms__text">
          <p>Площадку для эксперимента выбрали с нарушением законодательства</p>
          <ol class="reforms__list-ol-outside">
            <li>
              Мосгоризбирком должен был выбрать округа, в которых пройдёт ДЭГ.
              Однако этим занималась исполнительная власть в лице Департамента
              информационных технологий г. Москвы.
            </li>
            <li>
              Выбор округа проходил на портале «Активный гражданин». Оператором
              портала выступает Департамент информационных технологий, который
              является структурным подразделением мэрии г. Москвы.
            </li>
            <li>
              Менее 5 000 пользователей решили судьбу более полумиллиона
              избирателей, проголосовав за проведение ДЭГ в их округах.
            </li>
            <li>
              Статус данного голосования, порядок его проведения и возможности
              для общественного контроля нормативно не были закреплены.
            </li>
            <li>
              Верифицировать достоверность результатов опроса не представляется
              возможным.
            </li>
          </ol>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-lg">
        <div class="reforms__row">
          <div class="reforms__image">
            <img src="img/reforms/image3.jpg" alt="" width="318" height="251" />
          </div>
        </div>
      </div>

      <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">
          Тестирование Электронного голосования
        </h2>

        <div class="reforms__text">
          <p>
            Система <span class="text-underlined">ДЭГ</span> прошла 4 этапа
            тестирования. Создатели и сторонники системы заверяли, что все
            найденные ошибки будут устранены, а обещанные функции — реализованы.
            Обещания не были выполнены.Один из основных недостатков
            <span class="text-underlined">ДЭГ</span>, который преследует систему
            с первого тестирования — отсутствие механизма контроля со стороны
            общества и наблюдательского сообщества.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-lg">
        <div class="reforms__text">
          <p>
            Между вторым и третьим тестированием система была взломана Пьерриком
            Годри. <br />
            <b>
              Система <span class="text-underlined">ДЭГ</span> была применена на
              выборах, несмотря на провалы при тестировании системы.
            </b>
            <br />
            Подробнее о финальных замечаниях по итогам четырёх тестирований ДЭГ
            можно прочитать
            <span class="text-underlined">в исследовании «Голоса»</span>.
          </p>
        </div>
      </div>

      <div class="reforms__group">
        <div class="reforms__text">
          <p>
            Нарушения на выборах в Мосгорд уму <br />
            В процессе внедрения системы
            <span class="text-underlined">ДЭГ</span> обнаружились юридические,
            организационные и технические проблемы. В день голосования они
            проявили себя во всей красе. Из-за пробелов в законодательстве права
            избирателей и кандидатов оказались не защищены. Неумелая реализация
            эксперимента облегчила мобилизацию административного ресурса. А
            из-за технических сбоев больше 900 избирателей испытали трудности
            при попытке воспользоваться системой.
          </p>
        </div>
      </div>

      <div class="reforms__group">
        <div class="reforms__text">
          <p>Подробнее читайте в нашем докладе</p>
        </div>
      </div>

      <div class="reforms__group">
        <div class="reforms__row">
          <a
            class="reforms__btn-info r-btn r-btn--solid"
            href="img/logo.svg"
            download
          >
            Скачать доклад
          </a>
        </div>
      </div>

      <div class="reforms__group">
        <h2 class="reforms__suptitle heading-2">Правовые нарушения</h2>

        <div class="reforms__text">
          <p>
            <span class="text-underlined">ДЭГ</span> вводилось с правовыми
            нарушениями, которые сопровождали не только сам процесс реализации
            системы электронного голосования, будь то выбор округа или создание
            законодательной базы, но и помешали этот процесс контролировать,
            сделав его недоступным для наблюдения в единый день голосования.
          </p>
        </div>
      </div>

      <div class="reforms__violation">
        <ul class="reforms__violation-list violation-list list-reset">
          <li class="violation-list__item">
            <div class="violation-list__image">
              <img src="img/violation-list/1.png" alt="" />
            </div>

            <div class="violation-list__content">
              <div class="violation-list__title">Законодательное внедрение</div>
              <div class="violation-list__text">
                <p>
                  Чтобы успеть создать нормативную базу для эксперимента, его
                  инициаторам потребовалось разрабатывать и принимать новые
                  законодательные акты в ускоренном режиме.Федеральный закон о
                  проведении эксперимента по электронному голосованию имел
                  рамочный характер и был принят всего за 92 дня. Обычно
                  законопроекты становятся законами за гораздо больший срок.
                </p>
              </div>
            </div>
          </li>

          <li class="violation-list__item">
            <div class="violation-list__image">
              <img src="img/violation-list/2.png" alt="" />
            </div>

            <div class="violation-list__content">
              <div class="violation-list__title">
                Казус с принятием закона: нарушение сроков
              </div>
              <div class="violation-list__text">
                <p>
                  Закон города Москвы
                  <span class="text-underlined">
                    «О проведении эксперимента по организации и осуществлению
                    дистанционного электронного голосования на выборах депутатов
                    Московской городского Думы седьмого созыва»</span
                  >
                  № 18 был принят за 7 дней до вступления в силу федерального
                  закона.У законодателей Москвы не было правовых оснований
                  принимать закон субъекта РФ, так как эксперимент не был
                  узаконен федеральным законодательством.
                </p>
              </div>
            </div>
          </li>

          <li class="violation-list__item">
            <div class="violation-list__image">
              <img src="img/violation-list/3.png" alt="" />
            </div>

            <div class="violation-list__content">
              <div class="violation-list__title">
                Негативное влияние на избирательные права граждан
              </div>
              <div class="violation-list__text">
                <p>
                  Законодательство не учитывает специфику дистанционного
                  электронного голосования и не предусматривает никаких
                  дополнительных гарантий избирательных прав и эффективных
                  средств контроля со стороны общества.
                  <span class="text-underlined">Федеральный закон №103</span>
                  исключает возможность граждан участвовать в голосовании на
                  избирательных участках, если при электронном голосовании у них
                  возникли трудности или в случае, если они не отозвали
                  заявление об участии в эксперименте по
                  <span class="text-underlined">ДЭГ</span>.
                </p>
              </div>
            </div>
          </li>

          <li class="violation-list__item">
            <div class="violation-list__image">
              <img src="img/violation-list/4.png" alt="" />
            </div>

            <div class="violation-list__content">
              <div class="violation-list__title">
                Нарушение принципа <br />
                равенства кандидатов
              </div>
              <div class="violation-list__text">
                <p>
                  Чтобы успеть создать нормативную базу для эксперимента, его
                  инициаторам потребовалось разрабатывать и принимать новые
                  законодательные акты в ускоренном режиме.Федеральный закон о
                  проведении эксперимента по электронному голосованию имел
                  рамочный характер и был принят всего за 92 дня. Обычно
                  законопроекты становятся законами за гораздо больший срок.
                </p>
              </div>
            </div>
          </li>

          <li class="violation-list__item">
            <div class="violation-list__image">
              <img src="img/violation-list/5.png" alt="" />
            </div>

            <div class="violation-list__content">
              <div class="violation-list__title">
                Нарушен принцип проведения выборов избирательными комиссиями
              </div>
              <div class="violation-list__text">
                <p>
                  Организацией процесса
                  <span class="text-underlined">ЭГ</span> занимался орган
                  исполнительной власти –
                  <span class="text-underlined">ДИТ</span>, что противоречит
                  принципу независимости избирательных комиссией, согласно
                  которому организацией и проведением выборов занимаются
                  исключительно избирательные комиссии. Вмешательство органов
                  власти в их деятельность не допускается.Деятельность
                  <span class="text-underlined">ДИТ</span>
                  оставалась нерегламентированной и неконтролируемой, создавая
                  возможности вмешательства в ход голосования без возможности
                  зафиксировать факт нарушения.
                </p>
              </div>
            </div>
          </li>

          <li class="violation-list__item">
            <div class="violation-list__image">
              <img src="img/violation-list/6.png" alt="" />
            </div>

            <div class="violation-list__content">
              <div class="violation-list__title">
                Декоративная роль <span class="text-underlined">УИК ДЭГ</span>
              </div>
              <div class="violation-list__text">
                <p>
                  Роль участковых избирательных комиссий
                  <span class="text-underlined">ДЭГ</span> сводилась к
                  утверждению данных, поступивших от Департамента информационных
                  технологий г. Москвы.Дистанционное электронное голосования
                  сводило на нет институт наблюдения. По факту наблюдатель был
                  лишён возможности непосредственно контролировать процесс
                  выдачи бюллетеней, голосования, подсчета голосов — вся
                  процедура проведения
                  <span class="text-underlined">ЭГ</span> оставалась закрытой.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="reforms__inner">
      <div class="reforms__group reforms__group--mb-md">
        <h2 class="reforms__suptitle heading-2">Главные выводы</h2>

        <div class="reforms__text">
          <p>
            <b>Электронное голосование — инструмент мобилизации бюджетников.</b>

            <br />
            <br />
            Ручная проверка базы избирателей выявила, что как минимум 53 %
            проголосовавших электронно — сотрудники бюджетных организаций города
            Москвы.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--mb-md">
        <div class="reforms__row">
          <div class="reforms__image">
            <img src="img/reforms/image4.jpg" alt="" width="638" height="360" />
          </div>
        </div>
      </div>

      <div class="reforms__group">
        <div class="reforms__text">
          <p>
            Мы связались с людьми, которые подтвердили, что зарегистрироваться в
            системе <span class="text-underlined">ДЭГ</span> от них требовало
            начальство. Среди них оказались те, которые не боятся сказать об
            этом публично.
          </p>
        </div>
      </div>

      <div
        class="reforms__group reforms__group--full reforms__group--mb-md hide-block--sm"
      >
        <div class="reforms__row">
          <div class="reforms__image">
            <img src="img/reforms/image5.jpg" alt="" width="434" height="151" />
          </div>
          <div class="reforms__image">
            <img src="img/reforms/image6.jpg" alt="" width="309" height="123" />
          </div>
        </div>
        <div class="reforms__row-under-images">
          <div class="reforms__row-under-images-first">
            Сотрудник ГБУ Жилищник, в переписке WhatsApp
          </div>
          <div class="reforms__row-under-images-second">
            Сотрудница МФЦ, в телефонном разговоре
          </div>
        </div>
      </div>

      <div class="reforms__group reforms__group--full reforms__group--mb-md">
        <h2 class="reforms__suptitle heading-2">
          Электронное голосование — угроза для избирательной системы России
        </h2>

        <div class="reforms__text">
          <p>
            Обзвон избирателей из базы выявил: сотрудники бюджетных учреждений
            были уверены, что работодатель имеет техническую возможность
            проследить не только их явку, но и выбор.

            <br />
            <br />

            <b>
              Система ДЭГ стала механизмом самоцензуры избирателей, голосующих
              принудительно. Они организованно регистрировались и послушно
              голосовали за административного кандидата.
            </b>

            <br />
            <br />

            Большинство избирателей знает, что проследить их голосование в
            кабинке невозможно. Методы административного контроля на обычных
            выборах малоэффективны — в частности, фотографирование заполненных в
            кабинке бюллетеней не раз становилось причиной скандалов.

            <br />
            <br />

            <b>
              Электронное голосование подрывает не столько тайну голосования,
              сколько уверенность избирателей в том, что она соблюдается.
            </b>

            <br />
            <br />

            Это делает административный ресурс более эффективным инструментом
            мобилизации зависимых избирателей и позволяет обеспечивать результат
            в пользу кандидатов власти.По всей видимости, именно в целях
            укрепления админресурса и внедряется система электронного
            голосования. Этим можно объяснить и ту спешку, в которой проводился
            эксперимент.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full reforms__group--mb-md">
        <h2 class="reforms__suptitle heading-2">
          Топ-5 бюджетных организаций по количеству выявленных избирателей
        </h2>

        <div class="reforms__text">
          <ol>
            <li>Школа № 1582 — 49 человек</li>
            <li>Управа района Чертаново Южное — 44 человека</li>
            <li>Правительство Москвы — 26 человек</li>
            <li>Школа № 924 — 21 человек</li>
            <li>
              <span class="text-underlined">ТИК</span> района Чертаново
              Центральное — 19 человек
            </li>
          </ol>
          <p>
            Самым технически продвинутым оказался коллектив школы № 1582. Это
            абсолютный лидер среди всех организаций по числу сотрудников,
            зарегистрированных в системе — нам удалось выявить 49 электронных
            избирателей округа в одной только этой школе.

            <br />
            <br />

            Председателем управляющего совета школы № 1582 является Маргарита
            Русецкая — победивший административный кандидат.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <h2 class="reforms__suptitle reforms__suptitle--m-sm heading-2">
          Эксперты про электронное голосование
        </h2>

        <div class="reforms__row">
          <div class="reforms__image">
            <img src="img/reforms/image7.jpg" alt="" width="652" height="367" />
          </div>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <div class="reforms__text">
          <p>
            Эксперимент по электронному голосованию был встречен экспертами
            скептически. Мы попросили их дать нам комментарий по поводу системы
            <span class="text-underlined">ДЭГ</span>, использованной на выборах
            в Мосгордуму. Ниже приводим их цитаты.

            <br />
            <br />

            <b>
              Григорий Мельконьянц (сопредседатель движения наблюдателей «Голос»
              )
            </b>

            <br />
            <br />

            «За несколько дней до голосования мы с членами технической рабочей
            группы выпустили отчет, подводящий итог летних тестирований системы,
            в котором заявили, что в условиях отсутствия должных инструментов
            контроля и наличия уязвимостей, использование системы на выборах
            депутатов Мосгордумы сопряжено с критическими рисками сбоев и
            вмешательства. В итоге избиратели на себе прочувствовали
            многочасовое „зависание" интернет-голосования, однако общество так и
            не получило официального отчета с разбором причин этого сбоя и его
            влияния на голоса избирателей»
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <h2 class="reforms__suptitle heading-2">Судебный процесс</h2>
        <div class="reforms__text">
          <p>
            Права избирателей и кандидата были нарушены, эксперимент не удался,
            но систему электронного голосования планируют ввести на выборах в
            России повсеместно.Мы оспариваем результаты голосования на участке
            №5003 в суде и боремся против внедрения системы ДЭГ в её нынешнем
            виде. Первая инстанция отказала в удовлетворении иска. Мы подали
            апелляцию и ждём следующего заседания.
          </p>
        </div>
      </div>

      <div class="reforms__group reforms__group--full">
        <h2 class="reforms__suptitle heading-2">Материалы дела</h2>
      </div>

      <div class="reforms__group reforms__group--mb-md reforms__group--full">
        <div class="reforms__row reforms__row--xs-column">
          <a class="reforms__btn-info r-btn r-btn--solid" href="#">
            Иск в районный суд
          </a>
          <a class="reforms__btn-info r-btn r-btn--solid" href="#">
            Решение суда
          </a>
          <a class="reforms__btn-info r-btn r-btn--solid" href="#">
            Аппеляция
          </a>
        </div>
      </div>

      <div class="reforms__group reforms__group--full reforms__materials">
        <div class="reforms__group">
          <h2 class="reforms__suptitle heading-2">Материалы расследования</h2>

          <div class="reforms__text">
            <p>
              Вы можете скачать итоговый доклад и техническую часть
              расследования здесь:
            </p>
          </div>
        </div>

        <div class="reforms__materials-images">
          <div class="reforms__materials-image">
            <a
              class="reforms__materials-btn r-btn r-btn--solid"
              href="assets/Электронное_голосование_на_выборах.pdf"
              download
            >
              Скачать
            </a>
            <img src="img/reforms/image8.png" alt="" width="558" height="298" />
          </div>

          <div class="reforms__materials-image">
            <a
              class="reforms__materials-btn r-btn r-btn--solid"
              href="assets/Дополнительно_Итоги_технического.pdf"
              download
            >
              Скачать
            </a>
            <img src="img/reforms/image9.jpg" alt="" width="558" height="298" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
