<div class="regions reforms">
  <div class="container">
    <div class="reforms__group">
      <ul class="breadcrumbs list-reset">
        <li class="breadcrumbs__item"><a href="moscow.html">Москва</a></li>
        <li class="breadcrumbs__item active">
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left-long" />
          </svg>
          Битцевский лес
        </li>
      </ul>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Общество.Будущее ведёт большую кампанию за сохранение Битцевского
          леса. Всё началось осенью 2020 года, когда мы впервые обнаружили
          госзакупку на разработку проекта «Реабилитации Битцевского леса». Уже
          тогда стало понятно, что ничем хорошим это не закончится.
        </p>
      </div>
    </div>

    <div class="reforms__group reforms__group--full reforms__group--mb-md">
      <div
        class="reforms__free-slider free-slider swiper-container js-free-slider"
      >
        <div class="swiper-wrapper">
          <div
            class="free-slider__slide regions__project-free-slider swiper-slide"
          >
            <img src="img/regions/forest-1.jpg" width="398" alt="" />
          </div>
          <div class="free-slider__slide swiper-slide">
            <img src="img/regions/forest-2.jpg" width="398" alt="" />
          </div>
        </div>
        <!-- Add Arrows -->
        <div
          class="free-slider__btn free-slider__btn--prev r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left" />
          </svg>
        </div>
        <div
          class="free-slider__btn free-slider__btn--next r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-right" />
          </svg>
        </div>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Мы развернули большую подписную кампанию, и вместе с жителями нам
          удалось собрать 20 тысяч подписей под обращением об отмене госзакупки,
          которые мы сдали в Мэрию Москвы. <br />
          К сожалению, это не помогло, поэтому весь 2021 и 2022 год наши
          активисты дежурили в лесу, останавливали незаконные работы, писали
          жалобы и участвовали в субботниках.
        </p>
      </div>
    </div>

    <div class="reforms__group reforms__group--full reforms__group--mb-md">
      <div
        class="reforms__free-slider free-slider swiper-container js-free-slider"
      >
        <div class="swiper-wrapper">
          <div
            class="free-slider__slide regions__project-free-slider swiper-slide"
          >
            <img src="img/regions/forest-3.jpg" width="398" alt="" />
          </div>
          <div class="free-slider__slide swiper-slide">
            <img src="img/regions/forest-4.jpg" width="398" alt="" />
          </div>
        </div>
        <!-- Add Arrows -->
        <div
          class="free-slider__btn free-slider__btn--prev r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left" />
          </svg>
        </div>
        <div
          class="free-slider__btn free-slider__btn--next r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-right" />
          </svg>
        </div>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Это продолжается и сейчас — вместе с эко-активистами члены и
          сторонники ОБ выходят на воскресные дежурства, пишут обращения в
          органы государственной власти и пытаются минимизировать ущерб,
          наносимый лесу Департаментом Капитального Ремонта.
        </p>
      </div>
    </div>
  </div>
</div>
