<div class="regions reforms">
  <div class="container">
    <div class="reforms__group">
      <ul class="breadcrumbs list-reset">
        <li class="breadcrumbs__item"><a href="ekaterinburg.html">Екатеринбург</a></li>
        <li class="breadcrumbs__item active">
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left-long" />
          </svg>
          Малаховский парк
        </li>
      </ul>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Возвращаем исторические названия!
        </p>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          В Екатеринбурге наши соратники ведут общественную кампанию за переименования парка Энгельса.
        </p>
      </div>
    </div>
    
    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Мы предлагаем дать новое название — Малаховский парк. Почему именно так? 
          На месте нынешнего парка раньше находилась Малаховская площадь — это отличная
          возможность вернуть историческое название.
        </p>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Архитектор Малахов является важной фигурой в Екатеринбурге — 
          из-под его пера вышло множество памятников архитектуры.
        </p>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Уже сейчас наши соратники провели информационную кампанию с расклейкой листовок,
          а совсем скоро начнут кампанию по сбору подписей под обращением в администрацию города.
        </p>
      </div>
    </div>

    <div class="reforms__group reforms__group--full reforms__group--mb-md">
      <div
        class="reforms__free-slider free-slider swiper-container js-free-slider"
      >
        <div class="swiper-wrapper">
          <div
            class="free-slider__slide regions__project-free-slider swiper-slide"
          >
            <img src="img/regions/ekb-2.jpg" width="398" alt="" />
          </div>
          <div
            class="free-slider__slide regions__project-free-slider swiper-slide"
          >
            <img src="img/regions/ekb-3.jpg" width="398" alt="" />
          </div>
        </div>
        <!-- Add Arrows -->
        <div
          class="free-slider__btn free-slider__btn--prev r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left" />
          </svg>
        </div>
        <div
          class="free-slider__btn free-slider__btn--next r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
