<div class="regions reforms">
  <div class="container">
    <div class="reforms__group">
      <ul class="breadcrumbs list-reset">
        <li class="breadcrumbs__item"><a href="moscow.html">Москва</a></li>
        <li class="breadcrumbs__item active">
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left-long" />
          </svg>
          Пешеходный мост на Пионерской
        </li>
      </ul>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          На железнодорожной станции Пионерская есть пешеходной мост. 
          Член московского домена обнаружил, что на сегодняшний день на нём образовалось 17 крупных сквозных дыр.
        </p>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          ОАО "РЖД" на жалобы жителей отвечало отписками,
          поэтому Московский домен организовался и начал сбор подписей под обращением в прокуратуру.
        </p>
      </div>
    </div>

    
    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          4 июля, почти сразу после открытия приёмной сдал <b>255</b> подписей в 
          Московско-Смоленскую транспортную прокуратуру. Несмотря на дожди, 
          жару и режим КТО, всего за две недели мы смогли собрать больше 200 подписей. 
        </p>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          В обращении жители просят: <br/>
          – Провести прокурорскую проверку состояния моста; <br/>
          – Признать мост аварийным; <br/>
          – Обязать собственника моста (ОАО "РЖД) провести капитальный ремонт сооружения. 
        </p>
      </div>
    </div>

    <div class="reforms__group">
      <div class="reforms__text reforms__text--mds">
        <p>
          Сейчас мы получили ответ от прокуратуры — ОАО "РЖД" получили предписание о ремонте моста. 
          <br/>
          <br/>
          Будем ждать новостей!
        </p>
      </div>
    </div>

    <div class="reforms__group reforms__group--full reforms__group--mb-md">
      <div
        class="reforms__free-slider free-slider swiper-container js-free-slider"
      >
        <div class="swiper-wrapper">
          <div
            class="free-slider__slide regions__project-free-slider swiper-slide"
          >
            <img src="img/regions/bridge-1.jpg" width="398" alt="" />
          </div>
        </div>
        <!-- Add Arrows -->
        <div
          class="free-slider__btn free-slider__btn--prev r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-left" />
          </svg>
        </div>
        <div
          class="free-slider__btn free-slider__btn--next r-btn-circle r-btn-circle--solid"
        >
          <svg class="s-icon">
            <use xlink:href="img/svg/sprite1.svg#arrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
